<div
   
    class="rb-usermenu-fullname">
    {{userdisplay}}
</div>
<div
    class="rb-usermenu-username">
    {{username}}
</div>
<rb-clickable
    (click)="click('prefs')">
    <div
        class="rb-usermenu-item">
        Preferences
    </div>
</rb-clickable>
<rb-clickable
    *ngIf="showlog"
    (click)="click('logs')">
    <div
        class="rb-usermenu-item">
        Logs
    </div>
</rb-clickable>
<rb-clickable
    *ngFor="let view of views"
    (click)="click(view.view)">
    <div
        class="rb-usermenu-item">
        {{view.label}}
    </div>
</rb-clickable>
<rb-clickable
    (click)="click('logout')">
    <div
        class="rb-usermenu-item">
        Logout
    </div>
</rb-clickable>
<rb-clickable
    (click)="click('about')">
    <div
        class="rb-usermenu-item">
        About
    </div>
</rb-clickable>