:host {
    display: flex;
    flex: 1 1 auto;
}

.rb-file-drop {
    display: flex;
    flex: 1 1 auto;
    cursor: default;
}

.rb-file-drop-active {
    background: repeating-linear-gradient(
        45deg,
        RGB(96, 109, 188, 0.2),
        RGB(96, 109, 188, 0.2) 10px,
        RGB(157, 166, 219, 0.2) 10px,
        RGB(157, 166, 219, 0.2) 20px
        );
}