<div 
    *ngIf="focus"
    class="rb-clickable-back">
</div>
<div 
    *ngIf="hovering"
    class="rb-clickable-hover">
</div>
<div
    [class]="'rb-clickable-container' + (focus ? ' rb-clickable-container-inverted' : '')">
    <ng-content></ng-content>
    <div #container></div>
</div>
<div 
    *ngIf="clicked"
    [class]="'rb-clickable-click' + (clicked ? ' rb-clickable-click-clicked' : '')"
    [style.top.px]="clickTop"
    [style.left.px]="clickLeft">
</div>
<div
    class="rb-clickable-spinner"
    *ngIf="running">
    <mat-spinner
        diameter="15">
    </mat-spinner>
</div>
