:host {
	position: relative;
	display: flex;
  flex-direction: row;
  flex: 1 1 auto;
	overflow: hidden;
}

.rb-clickable-hover {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
  opacity:0.15;
	backdrop-filter: brightness(0.5);
}

.rb-clickable-content {
  position: relative;
	top: 0px;
  left: 0px;
	display: flex;
  flex-direction: row;
  flex: 1 1 auto;
	justify-content: center;
	align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.rb-clickable-content-invisible {
  visibility: hidden;
}

.rb-clickable-content-disabled {
  opacity: 0.2;
  cursor: default;
}

.rb-clickable-content-inverted {
  filter: grayscale(100%) invert(100%) brightness(1.3);
}

.rb-clickable-click {
	position: absolute;
  opacity:0;
	background-color: grey;
  margin:-35px 0 0 -35px;
  width:70px;
  height:70px;
  border-radius:50%;
}

.rb-clickable-click-clicked {
  animation-name: rb-clickable-click-animation;
  animation-duration: 0.3s;
}

@keyframes rb-clickable-click-animation {
  0% {
    opacity:0;
    -webkit-transform:scale3d(0.3,0.3,1);
  }
  25% {
    opacity:0.5;
  }
  50% {
    opacity:0.3;
  }  
  100% {
    opacity:0;
    -webkit-transform:scale3d(4,4,1);
  }
}

.rb-clickable-spinner {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  margin: -15px;
  top: 50%;
  left: 50%;
  border-width: 4px;
  border-style: solid;
  border-color: var(--primary-color) transparent transparent transparent;
  border-radius: 50%;
  animation: rb-clickable-spinner-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.rb-clickable-spinner-inverted {
  border-color: #fff transparent transparent transparent;
}

.rb-clickable-spinner:nth-child(1) {
  animation-delay: -0.45s;
}
.rb-clickable-spinner:nth-child(2) {
  animation-delay: -0.3s;
}
.rb-clickable-spinner:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes rb-clickable-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rb-clickable-back {
  position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
  background-color: var(--primary-color);
}