<div
    class="rb-notification-header">
    <div
        class="rb-notification-title">
        Notifications
    </div>
    <rb-iconbutton
        [icon]="'navigate_next'"
        (click)="closeNotifications()">
    </rb-iconbutton>         
</div> 
<div
    class="rb-notification-listcontainer hscroll">
    <div 
        *ngFor="let group of groups"
        class="rb-notification-group">
        <div
            *ngIf="group.group != null"
            class="rb-notification-group-header">
            <rb-clickable
                (click)="clickGroupHeader(group.group)">
                <div
                    class="rb-notification-group-header-container">
                    <div
                        class="rb-notification-group-header-name">
                        {{group.group}}            
                    </div>
                    <div
                        class="rb-notification-group-header-count">
                        {{group.exceptions.length}}            
                    </div>            
                </div>
            </rb-clickable>        
        </div>
        <div
            class="rb-notification-group"
            *ngIf="group.group == null || group.group == selectedGroup">
            <rb-list-item
                *ngFor="let notification of group.exceptions"
                (click)="selectNotification(notification)">
                <div
                    class="rb-notification-listitemcontent">
                    <div
                        class="rb-notification-listheader">
                        {{notification.label}}
                    </div>
                    <div
                        class="rb-notification-listsub">
                        {{notification.message}}
                    </div>
                </div>        
                <div
                    class="rb-notification-divider">
                    <div
                        class="rb-notification-divider-line">
                    </div>
                </div>            
            </rb-list-item>
        </div>        
    </div>
</div>
