:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20vw;
}

:host > mat-action-list > button.mat-menu-item {
	height: auto!important;
    margin: 0px!important;
}


.rb-notification-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: var(--primary-dark2-color)
}

.rb-notification-title {
    flex: 1 1 auto;
    padding-left: 15px;
}

.rb-notification-listcontainer {
    display: flex;
    flex-direction: column;
}

.rb-notification-group {

}

.rb-notification-group-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--primary-color);
    border-top: 1px solid white;
}

.rb-notification-group-header-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: var(--v10px) var(--v8px) var(--v10px) var(--v16px);
    overflow: hidden;
}

.rb-notification-group-header-name {
    display: block;
    flex: 1 1 auto;
    color: var(--light-inverse-writing-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;
    font-size: 0.85rem;
}

.rb-notification-group-header-count {
    display: flex;
    flex-direction: row;
    /*background-color: #d50707;*/
    color: var(--dark-inverse-writing-color);
    font-size: 0.8rem;
    border-radius: 12px;
    /*padding: 3px;*/
}

.rb-notification-listitem {

}

.rb-notification-listitemcontent {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: var(--v10px) var(--v20px);
    min-height: var(--v48px);
    overflow: hidden;
}

.rb-notification-listheader {
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 6px;
    color: var(--dark-writing-color);
    font-size: 0.9rem;
}

.rb-notification-listsub {
    color: var(--light-writing-color);
    font-size: 0.8rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

:host > .mat-menu-panel {
    max-width: 350px!important;
}

.rb-notification-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rb-notification-divider-line {
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
}