:host {
	display: flex;
	overflow: hidden;
	flex-direction: column;
    flex: 1 1 auto;
    width: 17.5vw;
}

.rb-list-container {
	display: flex;
	flex-direction: column;
    flex: 1 1 auto;   
}

:host > .rb-list-container > mat-action-list > button {
	height: auto!important;
}

.rb-list-item {
    border-left: 4px Solid transparent;
}

.rb-list-item-active {
	border-left: 4px Solid red;
	padding-left: -4px;
}

.rb-list-item-active-alt1 {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-list-item-data {
	display: flex;
	flex-direction: row;
	margin: 12px 4px 12px 4px;
    min-height: 40px;
}

.rb-list-item-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: grey;
    margin-left: -5px;
    padding-right: var(--v10px);
    width: var(--v24px);
    height: var(--v24px);
}

.mat-icon{
    font-size: 1.7rem;
}

.rb-list-item-datablock {
    display: flex;
    flex-direction: column;
}

.rb-list-item-header {
    font-size: 1.0rem;
}

.rb-list-item-subhead {
    font-size: 0.8rem;
    font-weight: 500;
}

.rb-list-item-supptext {
    color: #aaaaaa;
    font-size: 0.8rem;
}