<div
    class="rb-list-container hscroll">
    <div
        *ngFor="let item of list" 
        [rb-drag-object]="item"
        [class]="'rb-list-repeater' + (selectedObject == item ? ' rb-list-repeater-selected' : '')">
        <rb-clickable
            (click)="itemClicked(item)">
            <div 
                class="rb-list-item-data">
                <div
                    *ngIf="iconattribute != null"
                    class="rb-list-item-icon"
                    [style.color]="getColorFor(item)">
                    <rb-icon [icon]="getIconFor(item)"></rb-icon>
                </div>
                <div
                    class="rb-list-item-datablock">
                    <span
                        class="rb-list-item-header">
                        {{getHeaderFor(item)}}
                    </span>
                    <span
                        class="rb-list-item-subhead">
                        {{getSubheadFor(item)}}
                    </span>
                    <span
                        class="rb-list-item-supptext">
                        {{getSuppTextFor(item)}}
                    </span>
                </div>
            </div>
        </rb-clickable>
    </div>
    <div
        class="rb-list-norecords"
        *ngIf="list.length == 0 && isLoading == false">
        No records
    </div>	
    <div
        class="rb-spinner-container"
        *ngIf="isLoading">
        <mat-spinner
            diameter="20">
        </mat-spinner>
    </div>
</div>
	