:host {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.1),
        0 13px 19px 2px rgba(0, 0, 0, 0.07),
        0 5px 24px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 12vw;
    max-height: 20vw;
    overflow: auto;
}


.rb-reportlist-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 150px;
}

.rb-reportlist-list {
    display: flex;
    flex-direction: column;
    padding: 16px 24px 10px 5px;
    color: #444444;
}

.rb-reportlist-report {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.rb-reportlist-line {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: var(--v10px) var(--v12px);
}

.rb-reportlist-icon {
    color: #888888;
    max-height: 24px;
    margin-right: var(--v10px);
}

.rb-reportlist-spinner-conntainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 1 1 auto;
    justify-content: center;
}