<div
    class="rb-reportlist-container">
    <rb-tab-section
        #rlts
        [grow]="0"
        [shrink]="0">
        <rb-tab
            [tabsection]="rlts"
            [label]="'Reports'"
            [isdefault]="true"
            [grow]="0"
            [shrink]="0">
            <div
                class="rb-reportlist-list">
                <rb-clickable
                    *ngFor="let report of reports"
                    (click)="launch(report)">
                    <div
                        class="rb-reportlist-line">
                        <img 
                            class="rb-reportlist-icon" 
                            [src]="getIcon(report.type)">
                        <span>{{report.description || report.name}}</span>                        
                    </div>
                </rb-clickable>
            </div>
            <div
                class="rb-reportlist-spinner-conntainer"
                *ngIf="isLoading">
                <mat-spinner
                    diameter="20">
                </mat-spinner>
            </div>	
        </rb-tab>
    </rb-tab-section>
</div>
