<div
    class="rb-filter-builder-header">
    <span class="material-symbols-outlined rb-filter-builder-topicon">
        {{isEditingSavedEntry ? 'search' : 'filter_list'}}
    </span>   
    <div
        class="rb-filter-builder-title">
        {{isEditingSavedEntry ? (editingSavedEntry.name ?? "Unnamed") : canFilter && canSort ? 'Filter / Sort' : canFilter ? 'Filter' : 'Sort'}}
    </div>
</div>
<div
    class="rb-filter-builder-container">
    <div
        *ngIf="modeCount > 1"
        class="rb-filter-builder-menu">
        <div
            *ngIf="canSave && hasSavedEntries && !isEditingSavedEntry"
            class="rb-filter-builder-menuitem">
            <rb-clickable
                [focus]="tab == 'saved'"
                (click)="selectTab('saved')">
                <span
                    class="rb-filter-builder-menulabel">
                    Saved
                </span>
            </rb-clickable>
        </div>  
        <div
            *ngIf="canSave && isEditingSavedEntry"
            class="rb-filter-builder-menuitem">
            <rb-clickable
                [focus]="tab == 'details'"
                (click)="selectTab('details')">
                <span
                    class="rb-filter-builder-menulabel">
                    Details
                </span>
            </rb-clickable>
        </div>                
        <div
            *ngIf="canFilter"
            class="rb-filter-builder-menuitem">
            <rb-clickable
                [focus]="tab == 'filter'"
                (click)="selectTab('filter')">
                <span
                    class="rb-filter-builder-menulabel">
                    Filter
                </span>
            </rb-clickable>            
        </div>
        <div
            *ngIf="canSort"
            class="rb-filter-builder-menuitem">
            <rb-clickable
                [focus]="tab == 'sort'"
                (click)="selectTab('sort')">
                <span
                    class="rb-filter-builder-menulabel">
                    Sort
                </span>
            </rb-clickable>            
        </div> 
              
    </div>
    <div
        class="rb-filter-builder-main">
        <div
            *ngIf="tab == 'saved'"
            class="rb-filter-builder-content">
            <rb-scroll>
                <div
                    class="rb-filter-builder-col">
                    <div
                        *ngFor="let savedEntry of savedEntries"
                        class="rb-filter-builder-saved-row">
                        <rb-clickable
                            (click)="clickSavedEntry(savedEntry)">
                            <div
                                class="rb-filter-builder-saved-name">
                                <mat-icon>search</mat-icon>
                                <p>{{savedEntry.name}}</p>
                            </div>
                        </rb-clickable>
                        <div
                            class="rb-filter-builder-saved-button">
                            <rb-iconbutton
                                (click)="clickSavedEntryEdit(savedEntry)"
                                [icon]="'more_horiz'">
                            </rb-iconbutton>                           
                        </div>
                                             
                    </div>
                </div>
            </rb-scroll>  
        </div>   
        <div
            *ngIf="tab == 'details'"
            class="rb-filter-builder-content">
            <rb-scroll>
                <div>
                    <rb-string-input
                        [(value)]="editingSavedEntry.name"
                        [size]="20"
                        [icon]="'search'"
                        [label]="'Name'"
                        (change)="changed = true">
                    </rb-string-input>
                    <rb-switch-input
                        [(value)]="editingSavedEntry.default"
                        [label]="'Is Default'"
                        (change)="changed = true">
                    </rb-switch-input>
                </div>
            </rb-scroll>  
        </div>                
        <div
            *ngIf="tab == 'filter'"
            class="rb-filter-builder-content">
            <rb-actiongroup
                [label]="'Add Criteria'"
                [actions]="addFilterActions"
                (actionclicked)="addAttributeToFilter($event.param)">
            </rb-actiongroup>  
            <rb-scroll>
                <table
                    class="rb-filter-build-maintable">
                    <div
                        *ngIf="filterConstructs.length == 0"
                        class="rb-filter-build-emptymessage">
                        No filter specified<br>Add a criteria to start building a filter
                    </div>
                    <tr
                        *ngFor="let filterConstruct of filterConstructs">
                        <td
                            class="rb-fb-labelcol"
                            align="right">
                            <div
                                class="rb-filter-builder-label">
                                {{filterConstruct.config.label}}
                            </div>
                        </td>
                        <td
                            class="rb-fb-maincol">

                            <rb-string-input
                                *ngIf="filterConstruct.config.type == 'string'"
                                [label]="null"
                                [size]="15"
                                [margin]="false"
                                [(value)]="filterConstruct.val1"
                                (valueChange)="changed = true">
                            </rb-string-input>

                            <rb-choice-input
                                *ngIf="filterConstruct.config.type == 'date'"
                                [choicelist]="datechoice"
                                [label]="null"
                                [icon]="'date_range'"
                                [size]="12"
                                [margin]="false"
                                [(value)]="filterConstruct.val1"
                                (valueChange)="changed = true">
                            </rb-choice-input>

                            <rb-datetime-input
                                *ngIf="filterConstruct.config.type == 'date' &&  (filterConstruct.val1 == 'since' || filterConstruct.val1 == 'between')"
                                [margin]="false"
                                [(value)]=filterConstruct.val2
                                (valueChange)="changed = true">
                            </rb-datetime-input>  

                            <rb-datetime-input
                                *ngIf="filterConstruct.config.type == 'date' &&  (filterConstruct.val1 == 'until' || filterConstruct.val1 == 'between')"
                                [margin]="false"
                                [(value)]=filterConstruct.val3
                                (valueChange)="changed = true">
                            </rb-datetime-input>  

                            <rb-duration-input
                                *ngIf="filterConstruct.config.type == 'date' &&  (filterConstruct.val1 == 'sincelast' || filterConstruct.val1 == 'rollwindow')"
                                [margin]="false"
                                [size]="8"
                                [(value)]=filterConstruct.val2
                                (valueChange)="changed = true">
                            </rb-duration-input>  

                            <rb-duration-input
                                *ngIf="filterConstruct.config.type == 'date' &&  (filterConstruct.val1 == 'untilnext' || filterConstruct.val1 == 'rollwindow')"
                                [margin]="false"
                                [size]="8"
                                [(value)]=filterConstruct.val3
                                (valueChange)="changed = true">
                            </rb-duration-input>                              

                            <table
                                *ngIf="filterConstruct.config.type == 'multiselect'"
                                class="rb-filter-builder-multiselect-table">
                                <tr
                                    *ngFor="let option of filterConstruct.config.options">
                                    <td
                                        class="rb-filter-builder-multiselect-tablecell-name">
                                        {{option.name}}
                                    </td>
                                    <td
                                        class="rb-filter-builder-multiselect-tablecell-count">
                                        {{option.count}}
                                    </td>
                                    <td
                                        class="rb-filter-builder-multiselect-tablecell-check">    
                                        <rb-switch-input
                                            [margin]="false"
                                            [showicon]="false"
                                            [value]="filterConstruct.val1.includes(option.value)"
                                            (valueChange)="$event == true ? filterConstruct.val1.push(option.value) : filterConstruct.val1.splice(filterConstruct.val1.indexOf(option.value), 1)"
                                            (valueChange)="changed = true">
                                        </rb-switch-input>
                                    </td>
                                </tr>
                            </table>

                            <rb-switch-input
                                *ngIf="filterConstruct.config.type == 'switch'"
                                [label]="null"
                                [size]="0"
                                [margin]="true"
                                [(value)]="filterConstruct.val1"
                                (valueChange)="changed = true">
                            </rb-switch-input>
                        </td>
                        <td
                            class="rb-fb-buttoncol">
                            <rb-iconbutton
                                [icon]="'delete'"
                                (click)="removeFilterItem(filterConstruct)">
                            </rb-iconbutton>
                
                        </td>
                    </tr>
                </table>   
            </rb-scroll>  
        </div>
        <div
            *ngIf="tab == 'sort'"
            class="rb-filter-builder-content">
            <rb-actiongroup
                [label]="'Add Attribute'"
                [actions]="addSortActions"
                (actionclicked)="addAttributeToSort($event.param)">
            </rb-actiongroup>              
            <rb-scroll>
                <table
                    class="rb-filter-build-maintable">
                    <div
                        *ngIf="sortConstructs.length == 0"
                        class="rb-filter-build-emptymessage">
                        No sort specified<br>Add an attribute to start sorting
                    </div>                    
                    <tr
                        *ngFor="let sortConstruct of sortConstructs">
                        <td
                            class="rb-fb-labelcol">
                            <span
                                class="rb-filter-builder-label">
                                {{sortConstruct.config.label}} 
                            </span>
                        </td>
                        <td
                            class="rb-fb-maincol">
                            <rb-iconbutton
                                [icon]="sortConstruct.direction == 1 ? 'arrow_upward' : 'arrow_downward'"
                                (click)="toggleDir(sortConstruct)">
                            </rb-iconbutton>                           
                        </td>
                        <td
                            class="rb-fb-buttoncol">
                            <rb-iconbutton
                                [icon]="'delete'"
                                (click)="removeSortItem(sortConstruct)">
                            </rb-iconbutton>                                                        
                        </td>   
                    </tr>             
                </table>
            </rb-scroll>  
        </div>   
        
        <div
            class="rb-filter-builder-bottom">
            <rb-button
                *ngIf="changed && !isEditingSavedEntry"
                (click)="clickApply()"
                [focus]="true"
                [label]="'Apply'">
            </rb-button>
            <rb-button
                *ngIf="canSave && isEditingSavedEntry && editingSavedEntry.name != null"
                (click)="createMenuLink()"
                [label]="'Create Menu Link'">
            </rb-button>             
            <rb-button
                *ngIf="canSave && !empty && changed"
                (click)="clickSave()"
                [label]="'Save'">
            </rb-button>               
            <rb-button
                *ngIf="canSave && isEditingSavedEntry"
                (click)="deleteSavedEntry()"
                [label]="'Delete'">
            </rb-button>                       
            <rb-button
                *ngIf="!empty && !isEditingSavedEntry"
                (click)="clickClear()"
                [label]="'Clear'">
            </rb-button>
            <rb-button
                (click)="clickCancel()"
                [label]="'Cancel'">
            </rb-button>              
        </div>        
    </div> 
</div>


