:host {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    min-width: 500px;
    padding: 10px;
    display: flex;
}

.rb-filter-builder-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.rb-fb-labelcol {
    text-align: end;
    vertical-align: top;
    padding: 25px 25px 5px 25px;
}

.rb-fb-maincol {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.rb-filter-builder-label {
    padding-top: 15px;
}

.rb-filter-builder-icon {
    padding-top: 15px;
}

.rb-filter-builder-multiselect-table {
    padding: 20px 0px 10px 0px;
}

.rb-filter-builder-multiselect-tablecell {
    padding: 0px 10px 0px 0px;
}