:host {
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
    min-height: 200px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: var(--v3px);
    overflow: hidden;
}

.rb-filter-builder-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    align-items: center;
    height: var(--v36px);
}

.rb-filter-builder-topicon {
    margin-left: var(--v5px);
    color: #ddd;
}

.rb-filter-builder-title {
    display: flex;
    flex: 1 1 auto;
    margin-left: var(--v5px);
    color: #ddd;
}

.rb-filter-builder-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.rb-filter-builder-menu {
    display: flex;
    flex-direction: column;
    padding: var(--v5px) 0px var(--v5px) var(--v3px);
    border-right: 1px solid #ccc;
}

.rb-filter-builder-menuitem {
    overflow: hidden;
    border-radius: var(--v3px) 0px 0px var(--v3px);
    /*margin: var(--v3px) 0px;*/
}

.rb-filter-builder-menulabel {
    padding: var(--v10px) var(--v28px);
    color: var(--primary-dark-color);
}

.rb-filter-builder-main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: var(--v8px);
}

.rb-filter-builder-content {
    max-height: 30vw;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: start;
}

.rb-filter-builder-content rb-scroll {
    flex: 1 1 auto!important;
}

.rb-filter-builder-col {
    display: flex;
    flex-direction: column;
}

.rb-filter-builder-saved-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rb-filter-builder-saved-name {
    display: flex;
    flex: 1 1 0;
    align-items: center;
    min-width: 15vw;
    font-weight: 400;
    margin: var(--v12px) var(--v5px);
}

.rb-filter-builder-saved-name mat-icon {
    color: var(--light-writing-color);
    margin-right: var(--v5px);
}

.rb-filter-builder-saved-name p {
    line-height: 1.0rem;
    margin: 0px
}

.rb-filter-builder-saved-button {
    display: flex;
    flex: 0 0 auto;
    color: #bbb;
}

.rb-filter-build-maintable {
    margin-right: var(--v24px);
    margin-left: var(--v8px);
}

.rb-fb-labelcol {
    vertical-align: top;
    /*padding-top: var(--v24px);*/
    padding-right: var(--v12px);
    color: var(--light-writing-color);
}

.rb-fb-maincol {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    /*padding-top: var(--v24px);*/
}

.rb-fb-buttoncol {
    vertical-align: top;
    /*padding-top: var(--v24px);*/
    color: var(--light-writing-color);
}

.rb-filter-builder-label {
    /*padding-top: 15px;*/
    height: var(--v36px);
    display: table-cell;
    vertical-align: middle;
}

.rb-filter-builder-multiselect-tablecell-name {
    padding-right: var(--v10px);
    height: var(--v36px);
    color: #222;
    font-weight: 400;
}

.rb-filter-builder-multiselect-tablecell-count {
    /*padding-right: var(--v10px);*/
    height: var(--v36px);
    font-size: 0.7rem;
    color: #666;
}

.rb-filter-builder-multiselect-tablecell-check {
    /*padding-right: var(--v10px);*/
    height: var(--v36px);
}

.rb-filter-builder-bottom {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}

.rb-filter-build-emptymessage {
    color: #ccc;
    font-size: 0.9rem;
}