.rb-processaction-message {
    padding: 10px;
    font-size: 0.95rem;
}

.rb-processaction-item {
    font-size: 0.95rem;
}

/*.mat-flat-button { 
    background-color: var(--primary-color)!important;
}*/