<button
    *ngIf="showround"
    mat-button 
    matTooltip="Process actions for this record"
    [matTooltipShowDelay]="1000"
    aria-label="Process Actions" 
	class="mat-mini-fab mat-primary" 
    (menuOpened)="activate()"
    (menuClosed)="deactivate()"
    [matMenuTriggerFor]="processactionmenu">
	<mat-icon>linear_scale</mat-icon>
</button>
<div>
    <button
        *ngIf="showstandard"
        mat-stroked-button 
        matTooltip="Process actions for this record"
        [matTooltipShowDelay]="1000"
        aria-label="Process Actions" 
        class="mat-primary" 
        (menuOpened)="activate()"
        (menuClosed)="deactivate()"
        [matMenuTriggerFor]="processactionmenu">
        Process
    </button>
    <button
        *ngIf="showfocus"
        mat-flat-button 
        matTooltip="Process actions for this record"
        [matTooltipShowDelay]="1000"
        aria-label="Process Actions" 
        class="mat-primary" 
        (menuOpened)="activate()"
        (menuClosed)="deactivate()"
        [matMenuTriggerFor]="processactionmenu">
        Process
    </button>    
</div>
<mat-menu
    #processactionmenu="matMenu">
    <div
        class="rb-processaction-message"
        [style.color]="notification == null ? 'lightgrey' : 'black'">
        {{message}}
    </div>
    <button
        mat-menu-item
        class="rb-processaction-item"
        *ngFor="let action of actions"
        (click)="clickAction(action.action)">
        {{action.description}}
    </button>  
</mat-menu>