<mat-icon 
    *ngIf="icon != null" 
    class="rb-grey-icon">
    {{icon}}
</mat-icon>
<mat-form-field 
    [style.width]="widthString" >
    <mat-label>{{label}}</mat-label>
    <mat-select
        *ngIf="!readonly"
        [class]="'rb-input-text-color' + (flasherOn ? ' rb-input-text-flash' : '')"
        (selectionChange)="commit()"
        [(value)]="selectedvalue">
        <mat-option
            *ngFor="let choice of choicelist"
            [value]="choice.value">
            {{choice.display}}
        </mat-option>
    </mat-select>
    <input 
        matInput 
        *ngIf="readonly"
        [class]="'rb-input-text-color' + (flasherOn ? ' rb-input-text-flash' : '')"
        [ngModel]="displayValue"
        [readonly]="true">
</mat-form-field>
