
@font-face {
  font-family: "desktopicon";
  src: url("../resource/desktopicon.woff") format("font-woff");
  font-weight: normal;
  font-style: normal;
}

[class^="desktopicon-"]:before, [class*=" desktopicon-"]:before,
[class^="desktopicon-"]:after, [class*=" desktopicon-"]:after {   
  font-family: desktopicon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.desktopicon-network:before { content: "\f100"; }
.desktopicon-sand-clock:before { content: "\f101"; }
.desktopicon-tick-inside-circle:before { content: "\f102"; }
.desktopicon-category:before { content: "\f103"; }
.desktopicon-add-to-cart:before { content: "\f104"; }
.desktopicon-settings-gears:before { content: "\f105"; }
.desktopicon-master-drive:before { content: "\f106"; }
.desktopicon-task-complete:before { content: "\f107"; }
.desktopicon-clipboards:before { content: "\f108"; }
.desktopicon-problem:before { content: "\f109"; }
.desktopicon-goal:before { content: "\f10a"; }
.desktopicon-working-with-laptop:before { content: "\f10b"; }
.desktopicon-nut-icon:before { content: "\f10c"; }
.desktopicon-speedometer:before { content: "\f10d"; }
.desktopicon-screwdriver-and-wrench-crossed:before { content: "\f10e"; }
.desktopicon-purchase-order:before { content: "\f10f"; }
.desktopicon-shopping-cart:before { content: "\f110"; }
.desktopicon-power:before { content: "\f111"; }
.desktopicon-calendar-with-spring-binder-and-date-blocks:before { content: "\f112"; }
.desktopicon-calendar-with-a-clock-time-tools:before { content: "\f113"; }
.desktopicon-certificate:before { content: "\f114"; }
.desktopicon-design-tool:before { content: "\f115"; }
.desktopicon-wrench:before { content: "\f116"; }
.desktopicon-code:before { content: "\f117"; }
.desktopicon-people:before { content: "\f118"; }
.desktopicon-business:before { content: "\f119"; }
.desktopicon-trolley:before { content: "\f11a"; }
.desktopicon-location:before { content: "\f11b"; }