body {
	height: 100%;
	width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	overflow:hidden;
}

.rb-module {
	display: flex;
	#flex: 1 0 auto;
}

.rb-controller {
	display: flex;
	flex: 1 0 auto;
}

.rb-sidebar {
	flex: 0 0 auto;
}

.rb-include {
	display: flex;
	flex: 1 0 auto;
}

.rb-margin {
	margin: 25px 25px;
}

.rb-text {
	display: flex;
	align-items: center;
}

.rb-hseparator {
	width: 50px;
}

.rb-map { 
	display: flex;
	flex:1;
}

.rb-dropdown-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}	

.rb-input-container {
	margin: 25px 25px;
}

.rb-search-container {
	margin: 5px 5px;
}

.rb-form-button {
	margin: 10px 10px;
}

.rb-switch {
	margin-left: 10px;
}

.hsection {
	display: flex;
	flex-direction: row
	flex-wrap: nowrap;
	border: 0px Solid;
	vertical-align:top;
}

.vsection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
}

.tabsection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
}

.tabheadersection {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
}

.tabcontentsection {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	margin-top: 25px;
}

.tabheader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
}

.tabheader-active {
  border-bottom: 2px Solid red;
}

.tabcontent {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow:1;
	border: 0px Solid;
}

.vscroll {
	overflow: auto;
	height: 100%;
}

.listscroll {
	display: flex;
	overflow: auto;
}

.list-item-active {
  #background-color: #d5d5ff;
  border-left: 4px Solid red;
}

.list-item-highlighted {
  background: LightGrey;
}

.list-item-parent {
  background: #EBEDEF;
}

.attributediv {
	display:block;
	border: 0px Solid;
}

.menuitem {
	font-size: 90%;
}

.angular-google-map { 
	display: flex;
	flex:1;
}

.angular-google-map-container { 
	flex:1;
}

.contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;
  position: absolute;
}


md-input-container .md-errors-spacer{
	min-height: 0px !important;
}

::-webkit-scrollbar-track
{
	border-radius: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover
{
	background-color:#c2c2f0;
}

::-webkit-scrollbar-thumb:active
{
	background-color:#c2c2f0;
} 
