body {
	#height: 100%;
	#width: 100%;
	background: white;
	display: flex;
	flex-direction: column;
	#overflow:hidden;
}

.rb-module {
	display: flex;
	#flex: 1 0 auto;
}

rb-layout {
	display: flex;
	overflow: hidden;
}

rb-dataset {
	display: flex;
	overflow: hidden;
}

rb-form {
	display: flex;
	flex: 0 0 auto;
}

.rb-sidebar {
	flex: 0 0 auto;
}

.rb-include {
	display: flex;
	flex: 1 1 auto;
	overflow:hidden;
}

.rb-margin {
	margin: 25px 25px;
}

rb-text {
	display: flex;
	align-items: center;
}

.rb-hseparator {
	width: 50px;
}

rb-map { 
	display: flex;
	flex:1;
	#width: 3000px;
	#height: 2000px;
}

.rb-dropdown-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}	

.rb-input-container {
	margin: 25px 25px;
}

.rb-search-container {
	margin: 5px 5px;
}

.rb-button {
	flex: 0 0 auto;
}

.rb-switch {
	margin-left: 10px;
}

.rb-menu-group {
	font-size: 100%;
	#background: #01579b;
}

.rb-menu-link {
	font-size: 90%;
	border-left: 3px solid gray;
}

rb-hsection {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	vertical-align:top;
}

rb-vsection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
	overflow:hidden;
}


rb-tab-section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
}

rb-tab-header-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
}

rb-tab-content-section {
	display: flex;
	flex: 1 0 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	margin-top: 25px;
}

rb-tab-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
}

.rb-tabheader-active {
  border-bottom: 2px Solid red;
}

rb-tab-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow:1;
	border: 0px Solid;
}

rb-vscroll {
	display: flex;
	overflow: auto;
	flex: 1 0 auto;
}

rb-list-scroll {
	display: flex;
	overflow: auto;
}

.rb-list-item-circle {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	background-color: lightgray;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;	
}

.rb-list-item-initials {
	#position: relative;
	#top: 25px; /* 25% of parent */
	font-size: 18px; /* 50% of parent */
	line-height: 40px; /* 50% of parent */
	color: white;
	#font-family: "Courier New", monospace;
	#font-weight: bold;
}

.list-item-active {
  #background-color: #d5d5ff;
  border-left: 4px Solid red;
  padding-left: -4px;
}

.list-item-highlighted {
  background: LightGrey;
}

.list-item-parent {
  background: #EBEDEF;
}

.attributediv {
	display:block;
	border: 0px Solid;
}

rb-match-scheduler {
	display: flex;
	flex-direction: column;
}

.rb-sched-toolbar {
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-bottom: 10px;
}

.rb-sched-toolbar-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin:0px;
	margin-left: 10px;
}

.rb-sched-marker {
	display: flex;
	border-left: 1px Solid;
	padding-left: 3px;
	color: #cccccc;
	top:0px;
	height:25px;
	position:absolute;
}

.rb-sched-list {
	display: flex;
	flex-direction: column;
	width:200px;
	flex: 0 0 auto;
	overflow:hidden;
	white-space: nowrap;
}

.rb-sched-demand {
	display: flex;
	flex-direction: row;
	padding: 12px
}

.rb-sched-demand-header {
	display: flex;
	flex: 0 0 auto;
	height: 17px;
	margin: 4px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;	
}

.rb-sched-demand-container {
	display: flex;
	flex-direction: row;
	overflow-x:hidden;
	overflow-y:auto;
}

.rb-sched-demand-canvas {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.rb-sched-demand-line {
	display: block;
	position:relative;
	height:25px;
}

.rb-sched-demand-block {
	display: flex;
	border-radius: 4px;
	top:1px;
	height:22px;
	position:absolute;
	background: #4286f4;
}

.rb-sched-demand-block-matched {
	display: flex;
	border: 1px Solid #9cabc1;
	border-radius: 4px;
	top:1px;
	height:22px;
	position:absolute;
	background: #eff5ff;
}

.rb-sched-offer {
	display: flex;
	flex-direction: row;
	padding: 12px
}

.rb-sched-offer-list {
	display: flex;
	flex-direction: column;
	width:150px;
	flex: 0 0 auto;
	overflow:hidden;
}

.rb-sched-offer-header {
	display: flex;
	height: 17px;
	margin: 4px;
}

.rb-sched-offer-container {
	display: flex;
	flex-direction: row;
	overflow:auto;
}

.rb-sched-offer-canvas {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
}

.rb-sched-offer-line {
	display: block;
	position:relative;
	height:25px;
	background: #dddddd;
}

.rb-sched-offer-block {
	display: flex;
	top:0px;
	height:25px;
	position:absolute;
}

.rb-sched-offer-block-active {
	background: white;
}

.rb-sched-offer-block-inactive {
	background: #eeeeee;
}

.rb-sched-offer-block-matcheddemand {
	display: flex;
	background: #4286f4;
	top:0px;
	height:22px;
	border-radius: 4px;
	position:absolute;
}

.angular-google-map { 
	display: flex;
	flex:1;
}

.angular-google-map-container { 
	flex:1;
}

.contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;
  position: absolute;
}


md-input-container .md-errors-spacer{
	min-height: 0px !important;
}


rb-file-input {
	display: flex;
	flex-direction: column;
}

rb-file-input input{
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
    z-index: 100 !important;
    margin-top: -20px;
    padding-top: -20px;
    top: -20px;
}

rb-file-input img {
	max-width: 400px;
}

::-webkit-scrollbar-track
{
	border-radius: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover
{
	background-color:#c2c2f0;
}

::-webkit-scrollbar-thumb:active
{
	background-color:#c2c2f0;
} 
