<rb-scroll
    [basis]="'auto'">
    <div
        *ngFor="let item of searchResult"
        class="rb-globalsearch-listitem">
        <rb-clickable 
            (click)="select(item)">
            <div
                class="rb-globalsearch-listcontent">
                <div
                    class="rb-globalsearch-listicon">
                    <mat-icon 
                        *ngIf="item.getObjectIcon().indexOf(':') >= 0"
                        [svgIcon]="item.getObjectIcon()">
                    </mat-icon>
                    <mat-icon
                        *ngIf="item.getObjectIcon().indexOf(':') == -1">
                        {{item.getObjectIcon()}}
                    </mat-icon>                        
                </div>
                <div
                    class="rb-globalsearch-listtextcol">
                    <div
                        class="rb-globalsearch-listtype">
                        {{item.getObjectTypeText()}}
                    </div>
                    <div
                        class="rb-globalsearch-listheader">
                        {{item.getObjectHeaderText()}}
                    </div>
                    <div
                        class="rb-globalsearch-listsub">
                        {{item.getObjectSubText()}}
                    </div>
                </div>
            </div>
        </rb-clickable>
    </div>
    <div
        class="rb-spinner-container"
        *ngIf="currentlyLoading >= 0">
        <mat-spinner
            diameter="20">
        </mat-spinner>
    </div>
    <div
        class="rb-globalsearch-noresult"
        *ngIf="currentlyLoading == -1 && searchResult.length == 0">
        No Results
    </div>    
</rb-scroll>
