
/*:host{
   min-width: 14vw!important; 
}*/

/*rb-scroll ::ng-deep .rb-scroll-content {
    min-width: 14vw;
}*/

.rb-globalsearch-resultcontainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rb-globalsearch-listitem {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    min-width: 14vw;
}

.rb-globalsearch-listcontent {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: var(--v12px) 0px;
}

.rb-globalsearch-listicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px var(--v8px);
    color: #bbb;
}

.rb-globalsearch-listtextcol {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    font-weight: 400;
    padding-right: var(--v5px);
}

.rb-globalsearch-listtype {
    font-size: 0.6rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-writing-color);
    line-height: var(--v16px);
}

.rb-globalsearch-listheader {
    color: var(--dark-writing-color);
    font-size: 0.9rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: var(--v20px);
}

.rb-globalsearch-listsub {
    font-size: 0.8rem;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light-writing-color);
    line-height: var(--v20px);
}

:host ::ng-deep .mat-list-item-content {
    padding: 0!important;
}

.rb-globalsearch-noresult {
    color: var(--dark-writing-color);
    font-size: 0.9rem;
    width: 14vw;
    padding: var(--v20px) 0px;
    text-align: center;
}