
:host {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.rb-menu-group-container {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	align-items: flex-start;
	padding: var(--v12px) var(--v12px)
}

.rb-menu-group-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	padding-left: 0.8vw;
	color: #dddddd;
	font-size: 0.75rem;
}

.rb-menu-group-text-alt1 {
	font-size: 0.9rem;
	color: #444444;
}

.rb-menu-group-icon {
	color: #dddddd;
	font-size: 1.3rem;
	width: var(--v20px);
	height: var(--v20px);
}

.rb-menu-group-icon-alt1 {
	width: var(--v24px);
	height: var(--v24px);
	color:dimgray;
	font-size: 1.5rem;
}

.rb-menu-group-content {
	background: var(--primary-dark2-color);
}

.rb-menu-group-content-alt1 {
	background: transparent;
}

.rb-menu-item {
    display: flex;
	flex-direction: row;
}

::ng-deep .rb-menu-group-tooltip {
	font-size: 0.95rem;
	border: 1px solid #aaaaaa;
	background-color: var(--primary-dark-color);
	color: white !important;
}

::ng-deep .rb-menu-group-tooltip-alt1 {
	background-color: white;
	color: #444444 !important;
}