<div
    *ngIf="headersonempty == true || list.length > 0"
    class="rb-table-header-container">
    <div
        class="rb-table-header">
        <div
            class="rb-table-colheader"
            *ngFor="let col of columns"
            [style.width.px]="col.width"
            (click)="clickColumn(col)">
            {{col.label}}
        </div>
    </div>
</div>
<div
    class="rb-table-body-container">                                                                                                                                                    
    <div
        class="rb-table-body">
        <div
            class="rb-table-row"
            *ngFor="let object of list">
            <div
                class="rb-table-rowitem"
                *ngFor="let col of getColumnsForObject(object)"
                [style.width.px]="col.width">
                <rb-string-input
                    *ngIf="col.type == 'input'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [icon]="col.icon"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-string-input>
                <rb-number-input
                    *ngIf="col.type == 'numberinput'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [icon]="col.icon"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-number-input>
                <rb-currency-input
                    *ngIf="col.type == 'currencyinput'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [icon]="col.icon"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-currency-input>                   
                <rb-datetime-input
                    *ngIf="col.type == 'datepicker'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [icon]="col.icon"
                    [format]="col.format"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-datetime-input>
                <rb-duration-input
                    *ngIf="col.type == 'durationinput'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [icon]="col.icon"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-duration-input>                
                <rb-related-input
                    *ngIf="col.type == 'relatedinput'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [displayattribute]="col.displayAttribute"
                    [parentattribute]="col.parentAttribute"
                    [childattribute]="col.childAttribute"
                    [icon]="col.icon"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-related-input>
                <rb-switch-input
                    *ngIf="col.type == 'switch'"
                    [size]="col.size"
                    [object]="object"
                    [attribute]="col.attribute"
                    [icon]="col.icon"
                    [editable]="true"
                    [show]="col.showExpr"
                    [margin]="false">
                </rb-switch-input>                
            </div>
            <div
                class="rb-table-rowbutton">
                <rb-iconbutton
                    *ngIf="canDelete(object)"
                    [icon]="'clear'"
                    (click)="deleteObject(object)">
                </rb-iconbutton>        
            </div>
        </div>  
        <div
            *ngIf="emptymessage != null && list.length == 0"
            class="rb-table-emptymessage">
            {{emptymessage}}
        </div>  
    </div>
                                                                                                                                              
</div>
