:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: fit-content;
    margin: var(--v12px) var(--v5px) var(--v12px) var(--v16px);
    flex: 0 1 auto;
}

.rb-table-header-container {
    display: flex;
    flex-direction: column;
}

.rb-table-header {
    display: flex;
    flex-direction: row;
}

.rb-table-colheader {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    margin-right: -20px;
    font-size: 0.9rem;
    color: darkgray;
    cursor: pointer;
}

.rb-table-body {
    display: flex;
    flex-direction: column;
    padding-right: var(--v16px);
}

.rb-table-row {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: var(--v10px);
}

.rb-table-rowitem {
    display: flex;
    flex-direction: row;
    margin: 0px var(--v10px) 0px 0px
}

.rb-table-rowbutton {
    margin-left: var(--v10px);
}

.rb-table-emptymessage {
    color: var(--light-writing-color);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.rb-table-dragindicator{
    cursor:grab;
}