<div
    *ngIf="config.actions.length == 0"
    class="rb-popup-actions-container">
    No actions
</div>
<rb-clickable
    *ngFor="let action of config.actions"
    [focus]="action.focus"
    (click)="clickAction(action)">
    <div
        class="rb-popup-actions-container">
        <span
            *ngIf="action.icon != null" 
            class="material-symbols-outlined rb-popup-actions-icon">
            {{action.icon}}
        </span>   
        <div
            class="rb-popup-actions-label">
            {{action.label}}
        </div>        
        
    </div>
</rb-clickable>