.rb-action-group-button {
    width: 5vw;
}

.rb-action-group-message {
    padding: 10px;
    font-size: 1.0rem;
    color: grey;
    padding: 10px;
}

.rb-action-group-item {
    font-size: 0.95rem;
}

.mat-flat-button {
    background-color: var(--primary-color);
    color: white;
}

.rb-action-group-item-focus {
    background-color: var(--primary-color);
    color: white;
}

.rb-action-group-item-focus:hover {
    background-color: var(--primary-dark-color);
    color: white;
}