<button
    *ngIf="round"
    mat-button 
    matTooltip="General actions for this record"
    [matTooltipShowDelay]="1000"
    aria-label="Action Group" 
	class="mat-mini-fab mat-primary rb-button rb-action-group-button" 
    (menuOpened)="activate()"
    (menuClosed)="deactivate()"    
    [matMenuTriggerFor]="actiongroupmenu">
	<mat-icon>linear_scale</mat-icon>
</button>
<div>
    <button
        *ngIf="!round"   
        matTooltip="General actions for this record"
        [matTooltipShowDelay]="1000"
        aria-label="Action Group" 
        [class]="'mat-primary rb-button rb-action-group-button' + (focus && !open ? ' mat-flat-button' : ' mat-stroked-button')" 
        (menuOpened)="activate()"
        (menuClosed)="deactivate()"        
        [matMenuTriggerFor]="actiongroupmenu">
        <div
            class="rb-spinner-container"
            *ngIf="actionning">
            <mat-spinner
                [class]="focus && !open ? 'rb-spinner-white' : ''"
                diameter="15">
            </mat-spinner>
        </div>
        <span
            *ngIf="!actionning">
            Actions
        </span>
    </button>    
</div>
<mat-menu
    #actiongroupmenu="matMenu">
    <div
        *ngIf="actionData.length == 0"
        class="rb-action-group-message">
        No actions
    </div>
    <button
        mat-menu-item
        [class]="'rb-action-group-item' + (action.focus ? ' rb-action-group-item-focus' : '')"
        *ngFor="let action of actionData"
        (click)="clickAction(action)">
        {{action.label}}
    </button>
</mat-menu>