:host {
    display: block;
    flex-direction: column;
    position: relative;
    margin: 5px;
    /*background-color: white;
    border-radius: 5px;
    border: solid 1px lightgray;*/
}

.rb-chart-container {
    min-height: 100px;
    min-width: 100px;
    display: block;
    position: absolute;
    top: 40px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.rb-chart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.rb-chart-refresh {
    height: 40px;
    width: 40px;
}

.rb-chart-title {
    font-weight: 500;
    text-align: center;
    flex: 1 1 auto;
}