:host {
    display: block;
    flex-direction: column;
    position: relative;
    background-color: white;
    margin: 5px;
    border-radius: 5px;
    border: solid 1px lightgray;
    overflow: hidden;
}


.rb-tile-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    align-items: center;
    height: var(--v40px);
}

.rb-tile-refresh {
    position: absolute;
    width: var(--v24px);
    height: var(--v24px);
    padding-left: var(--v5px);
    color: grey;
    cursor: pointer;
}

.rb-tile-title {
    font-weight: 500;
    text-align: center;
    flex: 1 1 0;
    color: #444;
}

.rb-tile-container {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    overflow: hidden;
}