<div
    class="rb-vcollapse-header">
    <div
        class="rb-vcollapse-preline">
    </div>
    <div
        class="rb-vcollapse-switch">
        <rb-icon
            (click)="toggle()"
            [icon]="isOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'">
        </rb-icon>
        <div
            *ngIf="label != null"
            class="rb-vcollapse-label">
            {{label}}
        </div>
    </div>
    <div
        class="rb-vcollapse-postline">
    </div>
</div>
<div
    class="rb-vcollapse-container"
    [style.display]="isOpen ? 'flex' : 'none'">
    <ng-content></ng-content>
    <div #container></div>    
</div>
