:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom: 0.06vw solid lightgrey;
}

.rb-vh-textcontainer {
    margin: 0 var(--v8px);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.rb-vh-title { 
    font-size: var(--v20px);
    font-weight: 500;
}

.rb-vh-space {
    flex: 1 1 auto;
}

.rb-vh-more {
    color: lightgray;
    width: var(--v40px);
    height: var(--v40px);
    line-height: var(--v40px);
}

 mat-icon {
    font-size: var(--v20px)!important;
    width: var(--v24px);
    height: var(--v24px);
}

.rb-vh-stackitem {
    display: flex;
    flex-direction: row;
}

.rb-vh-bc-link {
    cursor: pointer;
    font-size: var(--v16px);
}

.rb-vh-menu-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: white;
}

.rb-vh-menu-item {
    flex: 1 1 auto;
    padding: var(--v10px)
}