<div
    class="rb-vh-textcontainer">
    <div
        *ngFor="let target of targetStack; let i = index"
        class="rb-vh-stackitem">
        <span
            *ngIf="i > 0"
            class="rb-vh-bc-link">
            &nbsp;&nbsp;&gt;&nbsp;&nbsp;
        </span>
        <span
            class="rb-vh-bc-link"
            *ngIf="i < targetStack.length - 1"
            (click)="backTo(i)">
            {{target.breadcrumbLabel}}
        </span>
    </div>
    <div
        class="rb-vh-title">
        {{title}}
    </div>
</div>    
<div
    class="rb-vh-space">
</div>
<rb-iconbutton
    [icon]="'more_vert'"
    [matMenuTriggerFor]="headermenu">
</rb-iconbutton>
<mat-menu
    #headermenu="matMenu">
    <button
        mat-menu-item
        [matMenuTriggerFor]="headercolor">
        Header Color
    </button>
    <button
        mat-menu-item
        [matMenuTriggerFor]="headerpattern">
        Header Pattern
    </button>    
</mat-menu>
<mat-menu
    #headercolor="matMenu">
    <button
        *ngFor="let color of colors"
        mat-menu-item
        (click)="selectColor(color)">
        {{color.name}}
    </button>
</mat-menu>
<mat-menu
    #headerpattern="matMenu">
    <button
        *ngFor="let pattern of patterns"
        mat-menu-item
        (click)="selectPattern(pattern)">
        {{pattern.name}}
    </button>
</mat-menu>