:host {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}

.rb-vh-textcontainer {
    margin: 8px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.rb-vh-title { 
    font-size: 18px;
    font-weight: 500;
}

.rb-vh-space {
    flex: 1 1 auto;
}

.rb-vh-more {
    color: lightgray;
}

.rb-vh-stackitem {
    display: flex;
    flex-direction: row;
}

.rb-vh-bc-link {
    cursor: pointer;
    font-size: 14px;
}