:host {
    display: flex;
    flex-direction: row;
}

.rb-richtext-quillcontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.rb-richtext-switchbutton {
    color: #aaa;
}

.rb-richtext-codeeditor {
    flex: 1 1 auto;
}

.rb-richtext-readonlyviewer {
    flex: 1 1 auto;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 12px 15px;
}