:host {
    display: flex;
    flex-direction: row;
}

.rb-richtext-quillcontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.rb-richtext-switchbutton {
    color: #aaa;
}

.rb-richtext-codeeditor {
    flex: 1 1 auto;
}

