/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html {
	height: 100%;
	font-size: 0.95vw;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

body { 
	height: 100%;
    margin: 0; 
    display: flex;
    flex-direction: column;
}


rb-view-loader {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	padding-top: 0px;
}

rb-view-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

rb-view {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

rb-layout {
	display: flex;
	overflow: hidden;
}



.rb-button {
	margin: 0.5vw!important;
	font-size: 0.9rem;
	padding: 0vw 0.8vw!important;
	line-height: 2vw!important;
	min-width: 3vw!important;
}

.mat-stroked-button {
	border: solid 1px #3f51b5!important;
}

rb-list-scroll {
	display: flex;
	overflow: auto;
	flex-direction: column;
	flex: 1 1 auto;
}

rb-list-scroll > mat-action-list {
	width: 270px !important;
}

rb-list-scroll > mat-action-list > button {
	height: auto!important;
}



rb-menu > .mat-list-base {
	padding-top: 0px;
}

.rb-menu-group-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	padding-left: 12px;
}

.rb-menu-group-icon {
	color:dimgray;
}

.rb-menu-group {
	background: #f8f8fa;
}

.rb-menu-link-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
	padding-left: 12px;
}

.rb-menu-link-icon {
	color:#888888;
}

.rb-input-margin {
	margin: 7px 5px -5px 15px;
}

.rb-input-text-color {
	color: currentColor!important;
	transition: color 0.6s ease-out!important;
}

.rb-input-text-flash {
	color: red!important;
	transition: color 0.1s step-start!important;
}

.rb-input-text-temporary {
	color:  #3f51b5!important;
	transition: color 0.1s step-start!important;
}

.rb-input-flasher {
    background-color: transparent;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
	z-index: -1;
	transition: background-color 0.2s ease-out;
}

.rb-input-flasher-on {
	background-color: lightsteelblue;
	transition: background-color 0.1s step-start;
}

.mat-form-field-underline {
	background-color: lightgray !important;
}

.xxxmat-form-field-prefix {
	margin-right: 10px;
}

rb-textarea-input .mat-form-field-flex {
    align-items: start!important;
}

rb-textarea-input .mat-form-field-prefix {
    margin-top: 10px!important;
}

rb-tab-section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex: 1 1 auto;
	border: 0px Solid;
	overflow: hidden;
}

.rb-tab-header-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
}

.rb-tab-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
}

.rb-tab-button {
	color: darkblue;
	font-weight: initial;
	font-size: 1.0rem;
	margin: 0px 5px 0px 5px !important;
}

.rb-tabheader-active {
  border-bottom: 2px Solid red;
}


.rb-tab-content-section {
	display: flex;
	flex: 1 1 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	margin-top: 12px;
	overflow: hidden;
}

rb-tab {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 1 1 auto;
	border: 0px Solid;
	overflow: hidden;
}

.rb-margin {
	margin: 10px;
}


.rb-grey-icon {
	color: grey;
	margin-right: 5px;
	font-size: 1.4vw;
}


.rb-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

rb-fileset {
	display: flex;
	flex: 1 1 auto;
}



.agm-map-container-inner {
    height: 100% !important;
}

::-webkit-scrollbar-track
{
	border-radius: 6px;
	background-color: #eeeeee;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #d5d5f1;
}

::-webkit-scrollbar-thumb:hover
{
	background-color:#c2c2f0;
}

::-webkit-scrollbar-thumb:active
{
	background-color:#c2c2f0;
} 

[hidden] { display: none !important;}