/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: flex;
    flex-direction: column;
}

rb-view-loader {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

rb-view {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

rb-layout {
	display: flex;
	overflow: hidden;
}

rb-dataset {
	display: flex;
}

rb-hsection {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 0;
	border: 0px Solid;
	vertical-align:top;
}

rb-vsection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 0;
	border: 0px Solid;
	overflow:hidden;
}

rb-list-scroll {
	display: flex;
	overflow: auto;
}

rb-list-scroll > mat-action-list > button {
	height: auto!important;
}

.rb-list-line1 {
	font-size: 16px;
}

.rb-list-line2 {
	font-size: 14px;
	color: #999999;	
}

.rb-list-item {
	margin: 8px;
}

.rb-list-item-active {
	border-left: 4px Solid red;
	padding-left: -4px;
}


.rb-menu-group-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.rb-menu-link-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

rb-input {
	margin: 6px;
}

rb-related-input {
	margin: 6px;
}