/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    display: flex;
    flex-direction: column;
}

.rb-footer {
	display: flex;
	flex: 0 0 auto;
	height:12px;
	background: #3f51b5;
}

rb-view-loader {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
	padding-top: 5px;
}

rb-view {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: hidden;
}

rb-layout {
	display: flex;
	overflow: hidden;
}

rb-dataset {
	display: flex;
	overflow: hidden;
	flex-grow: 1;
	flex-direction: column;
}

.rb-hsection {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-shrink: 1;
	border: 0px Solid;
	vertical-align:top;
	overflow: hidden;
}

.rb-vsection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 1;
	border: 0px Solid;
	overflow:hidden;
}

.rb-button {
	margin: 8px !important;
}

rb-list-scroll {
	display: flex;
	overflow: auto;
	flex-direction: column;
}

rb-list-scroll > mat-action-list {
	width: 270px !important;
}

rb-list-scroll > mat-action-list > button {
	height: auto!important;
}

.rb-list-line1 {
	font-size: 16px;
}

.rb-list-line2 {
	font-size: 14px;
	color: #999999;	
}

.rb-list-item {
	margin: 8px;
}

.rb-list-item-active {
	border-left: 4px Solid red;
	padding-left: -4px;
}

.rb-menu-group-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	padding-left: 12px;
}

.rb-menu-group-icon {
	color:dimgray;
}

.rb-menu-link-text {
	flex-grow: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
	padding-left: 12px;
}

.rb-menu-link-icon {
	color:#888888;
}

.rb-input-margin {
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: -5px;
}

rb-tab-section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
}

.rb-tab-header-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
}

.rb-tab-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
}

.rb-tab-button {
	color: darkblue;
	font-weight: initial;
	margin: 0px 10px 3px 10px !important;
}

.rb-tabheader-active {
  border-bottom: 2px Solid red;
}


.rb-tab-content-section {
	display: flex;
	flex: 1 0 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	margin-top: 12px;
}

rb-tab {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow:1;
	border: 0px Solid;
}

.rb-margin {
	margin: 10px;
}


.mat-form-field-underline {
	left: 30px;
	right: 0px;
	width: auto !important;
	background-color: lightgray !important;
}

.mat-form-field-prefix {
	margin-right: 10px;
}

.rb-grey-icon {
	color: grey;
}


.rb-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.agm-map-container-inner {
    height: 100% !important;
}

::-webkit-scrollbar-track
{
	border-radius: 6px;
	background-color: #eeeeee;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #d5d5f1;
}

::-webkit-scrollbar-thumb:hover
{
	background-color:#c2c2f0;
}

::-webkit-scrollbar-thumb:active
{
	background-color:#c2c2f0;
} 

[hidden] { display: none !important;}