<desktop-root 
    #root
    *ngIf="layout == 'desktop'"
    [apptitle] = "apptitle"
    [logo] = "logo"
    [username] = "username"
    [userdisplay] = "userdisplay"
    [initialView] = "initialView"
    [version]="version"
    [events]="events.asObservable()"> 
</desktop-root>
<portal-root 
    #root
    *ngIf="layout == 'portal'"
    [apptitle] = "apptitle"
    [logo] = "logo"
    [username] = "username"
    [userdisplay] = "userdisplay"
    [initialView] = "initialView"
    [version]="version"
    [events]="events.asObservable()"> 
</portal-root>
<display-root 
    #root
    *ngIf="layout == 'display'"
    [initialView] = "initialView"
    [version]="version"
    [events]="events.asObservable()"> 
</display-root>