.hsection {
	display:inline-flex;
	border: 0px Solid;
	vertical-align:top;
}

.vsection {
	display:inline-block;
	border: 0px Solid;
	vertical-align:top;
}

.vscroll {
	overflow-y: scroll;
	height: 100%;
}

.attributediv {
	display:block;
	border: 0px Solid;
}

md-input-container .md-errors-spacer{
 min-height: 0px !important;
}