:host {
    display: block;
    overflow: hidden;
}

.rb-fileviewer-imgcontainer {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    overflow: scroll;
}

.rb-fileviewer-img {
    display: block;
}

.rb-fileviewer-controls {
    display: block;
    position: absolute;
    top: 0px;
}

.rb-fileviewer-control {
    display: inline-block;
    cursor: pointer;
    color: wheat;
    opacity: 0.5;
    width: 1.5vw;
    margin: 0.1vw;
}

.rb-fileviewer-control mat-icon {
    font-size: 1.5rem
}

.rb-fileviewer-control:hover {
    color: white;
    opacity: 1;
}

.rb-fileviewer-zoom-icon {

}