<agm-map 
    #map
    [latitude]="mapLatitude" 
    [longitude]="mapLongitude"
    [zoom]="zoomOfMap"
    [styles]="defaultStyles"
    (mapRightClick)="mapRightClick($event)"
    (mapClick)="mapClick($event)"
    (mousemove)="mouseMove($event)">
    <agm-overlay
        *ngFor="let mapPoint of mapPoints"
        [latitude]="mapPoint.latitude"
        [longitude]="mapPoint.longitude"
        [zIndex]="mapPoint.zindex"
        (markerClick)="objectClick(mapPoint)"
        (markerRightClick)="objectRightClick(mapPoint)">
        <div
            [class]="'rb-mapicon-' + mapPoint.icon + (mapPoint.animate != null ? ' rb-mapicon-' + mapPoint.icon + '-animate-' + mapPoint.animate : '')"
            [style.border-color]="mapPoint.color">
            <span
                class="rb-map-initial"
                *ngIf="mapPoint.initials != null">
                {{mapPoint.initials}}
            </span>
        </div>
    </agm-overlay> 
    <agm-polyline
        *ngFor="let mapPolygon of mapPolygons"
        [strokeColor]="'red'">
        <agm-polyline-point
            *ngFor="let point of mapPolygon.path"
            [latitude]="point.lat"
            [longitude]="point.lng">
        </agm-polyline-point>
    </agm-polyline>
    <agm-overlay
        *ngIf="showLabel"
        [latitude]="labellatLon.latitude"
        [longitude]="labellatLon.longitude">
        <div
            class="rb-map-label-panel">
            <button
                mat-button
                *ngIf="labelLink != null"
                class="rb-map-label-button"
                (click)="labelClick()">
                {{labelText}}
            </button>
            <div
                *ngIf="labelLink == null"
                class="rb-map-label-text">
                {{labelText}}
        </div>
        </div>
    </agm-overlay>   
</agm-map>
<div 
    class="rb-map-menu-panel"
    *ngIf="showContextMenu"
    [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x">
    <mat-list>
        <mat-list-item>
            <button 
                mat-button 
                (click)="setGeometry($event)">
                Set point here
            </button>
        </mat-list-item>
    </mat-list>    
</div>

