<agm-map 
    #map
    [latitude]="latLonOfMap.latitude" 
    [longitude]="latLonOfMap.longitude"
    [zoom]="zoomOfMap"
    (mapRightClick)="mapRightClick($event)"
    (mapClick)="mapClick($event)"
    (mousemove)="mouseMove($event)">
    <agm-marker
        *ngFor="let object of list"
        [markerClickable]="true"
        [latitude]="latitudeOf(object, 0)"
        [longitude]="longitudeOf(object, 0)"
        [iconUrl]="iconUrlOf(object)"
        [zIndex]="zIndexOf(object)"
        (markerClick)="objectClick(object)"
        (markerRightClick)="objectRightClick(object)">
    </agm-marker>    
</agm-map>
<div 
    class="rb-map-menu-panel"
    *ngIf="showContextMenu"
    [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x">
    <mat-list>
        <mat-list-item>
            <button 
                mat-button 
                (click)="setGeometry($event)">
                Set point here
            </button>
        </mat-list-item>
    </mat-list>    
</div>
