<agm-map 
    #map
    [latitude]="mapLatitude" 
    [longitude]="mapLongitude"
    [zoom]="zoomOfMap"
    [styles]="defaultStyles"
    (mapRightClick)="mapRightClick($event)"
    (mapClick)="mapClick($event)"
    (mousemove)="mouseMove($event)">
    <agm-overlay
        *ngFor="let mapObject of mapObjects"
        [latitude]="mapObject.latitude"
        [longitude]="mapObject.longitude"
        [zIndex]="mapObject.zindex"
        (markerClick)="objectClick(mapObject)"
        (markerRightClick)="objectRightClick(mapObject)">
        <div
            [class]="'rb-mapicon-' + mapObject.icon + (mapObject.animate != null ? ' rb-mapicon-' + mapObject.icon + '-animate-' + mapObject.animate : '')"
            [style.border-color]="mapObject.color">
            <span
                class="rb-map-initial"
                *ngIf="mapObject.initials != null">
                {{mapObject.initials}}
            </span>
        </div>
    </agm-overlay> 
    <agm-overlay
        *ngIf="showLabel"
        [latitude]="labellatLon.latitude"
        [longitude]="labellatLon.longitude">
        <div
            class="rb-map-label-panel">
            <button
                mat-button
                *ngIf="labelLink != null"
                class="rb-map-label-button"
                (click)="labelClick()">
                {{labelText}}
            </button>
            <div
                *ngIf="labelLink == null"
                class="rb-map-label-text">
                {{labelText}}
        </div>
        </div>
    </agm-overlay>   
</agm-map>
<div 
    class="rb-map-menu-panel"
    *ngIf="showContextMenu"
    [style.top.px]="contextMenuPosition.y"
    [style.left.px]="contextMenuPosition.x">
    <mat-list>
        <mat-list-item>
            <button 
                mat-button 
                (click)="setGeometry($event)">
                Set point here
            </button>
        </mat-list-item>
    </mat-list>    
</div>

