:host {
    /*max-width: 12vw;*/
}

.rb-popup-color-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.rb-popup-color-colorline {
    display: flex;
    flex-direction: column
}

.rb-popup-color-colorbox {
    width: var(--v20px);
    height: var(--v20px);
    margin: var(--v5px);
    cursor: pointer;
}

.rb-popup-color-colorbox:hover {
    width: var(--v24px);
    height: var(--v24px);
    margin: var(--v3px);
}