<div
    class="rb-file-input-box"    
    [ngClass]="(hasFileOver ? 'rb-file-input-active' : fileUid == null || shrinkborder == false ? 'rb-file-input-border' : '')"
    (click)="openFile()">
    <img
        *ngIf="fileUid != null && hasThumbnail()"
        [ngClass]="'rb-file-input-img' + (shrinkborder == true ? ' rb-file-input-border' : '')"
        [src]="displayvalue">
    <rb-fileicon
        *ngIf="fileUid != null && !hasThumbnail()"
        [mime]="mime">
    </rb-fileicon>
    <mat-icon
        *ngIf="fileUid == null"
        class="rb-file-input-icon rb-file-lightgrey">
        download
    </mat-icon>   
    <div
        *ngIf="fileUid == null"
        class="rb-file-tiptext rb-file-lightgrey">
        Drop file here
    </div>
</div>

