:host {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: 10px;
}

.rb-file-input-box {
    display: flex;
    flex: 1 1 auto;
    border: 1px solid rgb(172, 171, 171);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.rb-file-input-active {
    background: repeating-linear-gradient(
        45deg,
        RGB(96, 109, 188, 0.2),
        RGB(96, 109, 188, 0.2) 10px,
        RGB(157, 166, 219, 0.2) 10px,
        RGB(157, 166, 219, 0.2) 20px
        );
}

.rb-file-input-img {
    cursor: pointer;
}

.rb-file-input-icon {
    color: grey;
    cursor: pointer;
    font-size: 2.0rem;
    width: var(--v36px);
    height: var(--v36px);
}