:host {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    padding: var(--v10px);
}

.rb-file-input-box {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 4px;         
}

.rb-file-input-border {
    border: 1px solid #bbb;
}

.rb-file-input-active {
    background: repeating-linear-gradient(
        45deg,
        RGB(96, 109, 188, 0.2),
        RGB(96, 109, 188, 0.2) 10px,
        RGB(157, 166, 219, 0.2) 10px,
        RGB(157, 166, 219, 0.2) 20px
        );
    border: 2px solid RGB(96, 109, 188, 0.2);
}

.rb-file-input-img {
    cursor: pointer;
    display: block;
	min-width: 0px;
	min-height: 0px;
    object-fit: contain;
    /*border: 1px solid #888;*/
}

.rb-file-input-icon {
    color: grey;
    cursor: pointer;
    font-size: 2.0rem;
    width: var(--v36px);
    height: var(--v36px);
}

.rb-file-tiptext {
    font-size: 0.7rem;
    color: var(--light-writting-color);
}

.rb-file-lightgrey {
    color: #ccc;
}

.rb-file-fileicon {
    width: var(--v36px);
    cursor: pointer;
}