:host {
    display: flex;
    padding: 0px;
    align-items: center;
}

:host mat-icon {
    font-size: 1.5rem;
    width: var(--v24px);
    height: var(--v24px);
}

.rb-globalsearch-search {
    border-style: solid;
    border-color: var(--primary-light-color);
    border-width: 1px;
    background-color: #175C96;
    width: 12vw;
    height: var(--v28px);
    font-size: 0.8rem;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

:host > mat-action-list > button {
	height: auto!important;
}

.rb-globalsearch-resultwindow {
    display:block;
    position: absolute;
    top: 40px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
    z-index: 1000;
    max-height: 500px;
    min-width: 150px;
    overflow: auto;
}

.rb-globalsearch-resultcontainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.rb-globalsearch-listcontainer {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
}

.rb-globalsearch-listheader {
    margin: 0px 0px 0px 0px;
}

.rb-globalsearch-listsub {
    color: #aaaaaa;
    font-size: 0.8rem;
    margin: -12px 0px 0px 0px;
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .mat-list-item-content {
    padding: 0!important;
}