:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
}

rb-pivot {
    width: unset;
    height: unset;
}

.catlabel {
    padding: 4px 5px;
}

.rb-chart-loadoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #eee8;
}