<mat-toolbar>
    <mat-toolbar-row>
        <img 
            [src]="logoUrl"
            class="rb-toolbar-logo"/>
        &nbsp;&nbsp;
        <span
            class="rb-toolbar-title">
            {{apptitle}}
        </span>
        <div
            class="rb-toolbar-spacer">
        </div>
        <rb-global-search
            (navigate)="navigateTo($event)">
        </rb-global-search>
        <rb-iconbutton-badge
            *ngIf="configService.nlCommandModel != null && apiService.aiService != null && apiService.aiService != ''"
            [icon]="'robot_2'"
            [count]="0"
            (click)="toggleNLBox()">
        </rb-iconbutton-badge>          
        <rb-iconbutton-badge
            *ngIf="apiService.chatService != null && apiService.chatService != ''"
            [icon]="'chat_bubble_outline'"
            [count]="chatService.unreadCount"
            (click)="toggleRightDrawer('chat')">
        </rb-iconbutton-badge>     
        <rb-iconbutton-badge
            *ngIf="apiService.processService != null && apiService.processService != ''"
            [icon]="'notifications'"
            [count]="notificationService.exceptionCount"
            (click)="toggleRightDrawer('notifications')">
        </rb-iconbutton-badge>           
        <rb-clickable
            #usermenubutton
            class="rb-toolbar-username"
            (click)="openUserMenu()">
            <span>
                {{userdisplay}}
            </span>
        </rb-clickable>
 
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container
    [hasBackdrop]="false"
    autosize>
    <mat-sidenav 
        mode="side" 
        position="start"
        disableClose="true"
        opened>
        <rb-menu
            [look]="userprefService.getGlobalPreferenceValue('uialt')"
            (navigate)="navigateTo($event)">
        </rb-menu>
    </mat-sidenav>
    <mat-sidenav 
        #rightdrawer
        mode="over" 
        position="end"> 
        <rb-notification-list
            *ngIf="rightDrawerShowing == 'notifications'"
            (navigate)="navigateTo($event)"
            (close)="closeRightDrawer()">
        </rb-notification-list>
        <rb-chat
            *ngIf="rightDrawerShowing == 'chat'"
            (close)="closeRightDrawer()">
        </rb-chat>
        <rb-preferences
            *ngIf="rightDrawerShowing == 'prefs'"
            (close)="closeRightDrawer()">
        </rb-preferences>
    </mat-sidenav>    
    <mat-sidenav-content>
        <rb-vsection>
            <rb-view-header
                [targetStack]="viewTargetStack"
                (backTo)="backTo($event)">
            </rb-view-header>
            <rb-view-loader 
                [target]="currentViewTarget"
                (navigate)="navigateTo($event)">
            </rb-view-loader>
        </rb-vsection>
    </mat-sidenav-content>
</mat-sidenav-container>
<div
    class="rb-footer">
    <div
        [class]="'rb-footer-indicator' + (clientWSServer.isConnected() ? ' rb-footer-indicator-on' : '')">
    </div>
</div>
<rb-nlbox
    *ngIf="showNLBox"
    (navigate)="navigateTo($event)"
    (close)="toggleNLBox()">
</rb-nlbox>
<div
    class="rb-drag-box"
    [style.visibility]="dragService.isDragging ? 'visible' : 'hidden'"
    [style.left.px]="dragService.position != null ? dragService.position.x : 0"
    [style.top.px]="dragService.position != null ? dragService.position.y : 0"
    [style.width.px]="dragService.size != null ? dragService.size.x : 0"
    [style.height.px]="dragService.size != null ? dragService.size.y : 0"
    [innerHTML]="dragService.innerHTML">
</div>
