:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.rb-gantt-dropout {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.rb-gantt-toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    z-index: 3;
}

.rb-gantt-custom-toolbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
}

.rb-gantt-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    z-index: 2;
    /*height: 3.7vw;*/
}

.rb-gantt-header-dateinput {
    /*margin: -10px 15px -20px 10px;*/
    padding: 0px;
}

.rb-gantt-corner {
    display: flex;
    flex-direction: column;
}

.rb-gantt-overlay-lanehead {
    display: flex;
    height: 1.9vw;
    /*width: 15vw;*/
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.rb-gantt-overlay-lanehead span {
    padding-right: 0.8vw;
    cursor: pointer;

}

.rb-gantt-corner-space {
    height: 3.8vw;
   /* width: 15vw;*/
}

.rb-gantt-headertrackcontainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border-top: solid 1px lightgray;
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
}

.rb-gantt-headertrack {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.rb-gantt-overlaytrack {
    display:flex;
    position: relative;
    align-items: center;
    height: 1.9vw;
    border-bottom: 1px solid lightgray;
}

.rb-gantt-daytrack {
    display:flex;
    position: relative;
    height: 1.9vw;
}

.rb-gantt-hourtrack {
    display: flex;
    position: relative;
    height: 1.9vw;
    border-top: 1px solid lightgray;
}

.rb-gantt-mark {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: smaller;
    border-left: solid 1px #ddd;
    height: 100%;
    pointer-events: none;
}

.rb-gantt-mark-minor {
    border-left-style: dashed;
    border-color: #cdcdcd;
}

.rb-gantt-body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
    z-index: 1;
}

.rb-gantt-laneheads {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    /*width: 15vw;*/
}

.rb-gantt-laneheadscontainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
}

.rb-gantt-lanehead {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: var(--v1px) solid lightgray;
    padding: 0px 0.5vw;
}

.rb-gantt-laneimage {
    width: 3vw;
    height: 3vw;
    margin-right: 0.3vw;
    background-color: #f0f0f0;
    border-radius: 30%;
    border: 1px solid #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rb-gantt-lanelabel {
    display: inline-block;
    padding: var(--v5px);
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rb-gantt-lanesublabel {
    display: inline-block;
    padding: var(--v5px);
    flex: 0 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.75rem;
    color: var(--light-writing-color);
}

.rb-gantt-laneicon {
    display: flex;
    flex: 0 0 auto;
    color: var(--light-writing-color);
}

.rb-gantt-lanescontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    width: 5.9vw;
}

.rb-gantt-lanes {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    position: relative;
}

.rb-gantt-laneslayer {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.rb-gantt-lane {
    display: flex;
    flex-direction: row;
    position: relative;
    border-top-width: var(--v1px);
    border-top-style: solid;
    border-top-color: transparent;
    /*background-color: grey;
    border-top: 1px solid lightgray;*/
}


.rb-gantt-spread {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
    justify-content: start;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.rb-gantt-spreadbox {
    border: 1px solid var(--primary-dark-color);
    /*height: 1.6vw;*/
    top: var(--v5px); /*7px*/
    background-color: white;
    border-radius: var(--v3px);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    user-select: none; 
    cursor: pointer;
}

.rb-gantt-spreadbox-editable {
    cursor: grab;
}

.rb-gantt-spreadbox-selected {
    border: var(--v3px) solid;
    border-color: var(--primary-dark2-color);
    margin: -0.12vw;
}

.rb-gantt-spreadbackground {
    height: 1.9vw;
    color: lightgray;
}

.rb-gantt-spreadlabel {
    display: inline-block;
    margin: var(--v5px);
    font-size: smaller;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /*height: 100%;*/
}

.rb-gantt-spreadprelabel {
    display: inline-block;
    margin: 1px;
    font-size: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /*height: 100%;*/
}

.rb-gantt-spreadpostlabel {
    display: inline-block;
    margin: 1px;
    font-size: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    /*height: 100%;*/
}

.rb-gantt-cornerindicator {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.3vw;
    height: 0.3vw;
    background-color: red;
    border-bottom-left-radius: 0.3vw;
}

.rb-gantt-laneheight {
    height: 2.5vw;
    flex: 0 0 auto;
}

.rb-gantt-lanecolor1 {
    border-top-color: lightgray;
    background-color: #e8e8e8c0;
}

.rb-gantt-lanecolor2 {
    border-top-color: lightgray;
    background-color: #e0e0e0c0;
}

.rb-gantt-backgroundcolor1 {
    background-color: #fafafa;
}

.rb-gantt-backgroundcolor2 {
    background-color: #f4f4f4;
}

.rb-gantt-overlay-spread {
    display: flex;
    flex-direction: row;
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.rb-gantt-loadoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee8;
    z-index: 3;
}

.rb-gantt-menuitem {
    display: flex;
    flex-direction: row;
    padding: var(--v10px) var(--v12px);
    color: var(--dark-writing-color);
    flex: 1 1 auto;
}