:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.rb-gantt-dropout {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    position: relative;
}

.rb-gantt-toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    padding: 4px;
    z-index: 3;
}

.rb-gantt-custom-toolbar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: flex-start;
    align-items: center;
}

.rb-gantt-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    z-index: 2;
}

.rb-gantt-header-dateinput {
    padding: 0px;
}

.rb-gantt-corner {
    display: flex;
    flex-direction: column;
}

.rb-gantt-overlay-lanehead {
    display: flex;
    height: var(--v36px);
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.rb-gantt-overlay-lanehead span {
    padding-right: var(--v16px);
    cursor: pointer;
}

.rb-gantt-corner-space {
    height: var(--v72px);
}

.rb-gantt-headertrackcontainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border-top: solid var(--v1px) lightgray;
    border-right: solid var(--v1px) lightgray;
    border-left: solid var(--v1px) lightgray;
}

.rb-gantt-headertrack {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.rb-gantt-overlaytrack {
    display:flex;
    position: relative;
    align-items: center;
    height: var(--v36px);
    border-bottom: 1px solid lightgray;
}

.rb-gantt-daytrack {
    display:flex;
    position: relative;
    height: var(--v36px);
}

.rb-gantt-hourtrack {
    display: flex;
    position: relative;
    height: var(--v36px);
    border-top: var(--v1px) solid lightgray;
}

.rb-gantt-mark {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    font-size: smaller;
    border-left: solid var(--v1px) #ddd;
    height: 100%;
    pointer-events: none;
}

.rb-gantt-mark-minor {
    border-left-style: dashed;
    border-color: #cdcdcd;
}

.rb-gantt-mark-now {
    border-left-style: solid;
    border-color: #ff9595; 
}

.rb-gantt-body {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    overflow: hidden;
    border-bottom: var(--v1px) solid lightgray;
    z-index: 1;
}

.rb-gantt-laneheads {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.rb-gantt-laneheadscontainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
}

.rb-gantt-lanehead {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: var(--v1px) solid lightgray;
    padding: 0px 0.5vw;
}

.rb-gantt-laneimage {
    width: var(--v58px);
    height: var(--v58px);
    margin-right: var(--v6px);
    background-color: #f0f0f0;
    border-radius: 30%;
    border: var(--v1px) solid #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rb-gantt-lanelabel {
    display: inline-block;
    padding: var(--v5px);
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.rb-gantt-lanesublabel {
    display: inline-block;
    padding: var(--v5px);
    flex: 0 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.75rem;
    color: var(--light-writing-color);
}

.rb-gantt-laneicon {
    display: flex;
    flex: 0 0 auto;
    color: var(--light-writing-color);
}

.rb-gantt-lanescontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
    width: min(5.9vw, 113px);
}

.rb-gantt-lanes {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    position: relative;
}

.rb-gantt-laneslayer {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.rb-gantt-lane {
    display: flex;
    flex-direction: row;
    position: relative;
    border-top-width: var(--v1px);
    border-top-style: solid;
    border-top-color: transparent;

}


.rb-gantt-spread {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.rb-gantt-spreadbox {
    border: 1px solid var(--primary-dark-color);
    top: var(--v5px); 
    background-color: white;
    border-radius: var(--v3px);
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    user-select: none; 
    cursor: pointer;
}

.rb-gantt-spreadbox-editable {
    cursor: grab;
}

.rb-gantt-spreadbox-selected {
    border: var(--v3px) solid;
    border-color: var(--primary-dark2-color);
    margin: -0.12vw;
}

.rb-gantt-spreadbackground {
    height: var(--v36px);
    color: lightgray;
}

.rb-gantt-spread-ghost {
    filter:opacity(.25);
}

.rb-gantt-spreadlabel {
    display: inline-block;
    margin: var(--v5px);
    font-size: smaller;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.rb-gantt-spreadprelabel {
    display: inline-block;
    margin: var(--v1px);
    font-size: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.rb-gantt-spreadpostlabel {
    display: inline-block;
    margin: var(--v1px);
    font-size: 0.6rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.rb-gantt-cornerindicator {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--v6px);
    height: var(--v6px);
    background-color: rgb(181, 6, 6);
    border-radius: var(--v6px);
    margin: var(--v1px);
}

.rb-gantt-laneheight {
    height: var(--v48px);
    flex: 0 0 auto;
}

.rb-gantt-lanecolor1 {
    border-top-color: lightgray;
    background-color: #e8e8e8c0;
}

.rb-gantt-lanecolor2 {
    border-top-color: lightgray;
    background-color: #e0e0e0c0;
}

.rb-gantt-backgroundcolor1 {
    background-color: #fafafa;
}

.rb-gantt-backgroundcolor2 {
    background-color: #f4f4f4;
}

.rb-gantt-overlay-spread {
    display: flex;
    flex-direction: row;
    position: absolute;
    overflow: hidden;
    height: 100%;
}

.rb-gantt-loadoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee8;
    z-index: 3;
}

.rb-gantt-menuitem {
    display: flex;
    flex-direction: row;
    padding: var(--v10px) var(--v12px);
    color: var(--dark-writing-color);
    flex: 1 1 auto;
}

.rb-gantt-dragselect {
    position: absolute;
    background-color: #ddd4;
    border: 1px solid var(--primary-color);
}

.rb-gantt-emptymessage {
    padding: var(--v58px) 0;
    color: var(--light-writing-color);
}