:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}

.rb-gantt-toolbar {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    padding: 4px;
}

.rb-gantt-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 3.7vw;
}

.rb-gantt-header-dateinput {
    margin: -10px 15px -20px 10px;
    padding: 0px;
}

.rb-gantt-corner {
    display: flex;
    width: 15vw;
}

.rb-gantt-headertrackcontainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    border-top: solid 1px lightgray;
    border-right: solid 1px lightgray;
    border-left: solid 1px lightgray;
}

.rb-gantt-headertrack {
    display: flex;
    position: absolute;
    flex-direction: column;
}

.rb-gantt-daytrack {
    display:flex;
    position: relative;
    height: 1.9vw;
}

.rb-gantt-hourtrack {
    display: flex;
    position: relative;
    height: 1.9vw;
    border-top: 1px solid lightgray;
}

.rb-gantt-mark {
    display: block;
    position: absolute;
    font-size: smaller;
    border-left: solid 1px lightgray;
    height: 100%;
    z-index: 100;
    padding-top: 6px;
    margin-bottom: -6px;
}

.rb-gantt-body {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    overflow: hidden;
    border-bottom: 1px solid lightgray;
}

.rb-gantt-laneheads {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 15vw;
}

.rb-gantt-laneheadscontainer {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    position: relative;
}

.rb-gantt-lanehead {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid lightgray;
}

.rb-gantt-lanescontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: auto;
    position: relative;
    width: 5.9vw;
    scrollbar-color: #bcbcf6 transparent;
	scrollbar-width: thin;
}

.rb-gantt-lanes {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}

.rb-gantt-lane {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: grey;
    border-top: 1px solid lightgray;
}


.rb-gantt-spread {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
}

.rb-gantt-spreadbox {
    border: 1px solid darkblue;
    height: 1.6vw;
    top: 7px;
    background-color: white;
    border-radius: 3px;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    user-select: none; 
    cursor: pointer;
    z-index: 150;
}

.rb-gantt-spreadbackground {
    height: 2.5vw;
    z-index: 50;
}

.rb-gantt-mainlabel {
    display: inline-block;
    padding: 5px;
    flex: 1 1 auto;
}

.rb-gantt-smalllabel {
    display: inline-block;
    padding: 5px;
    font-size: smaller;
}


.rb-gantt-laneheight {
    height: 2.5vw;
    flex: 0 0 auto;
}

.rb-gantt-lanecolor1 {
    background-color: #e4e4e4;
}

.rb-gantt-lanecolor2 {
    background-color: #e0e0e0;
}

.rb-gantt-backgroundcolor1 {
    background-color: #fafafa;
}

.rb-gantt-backgroundcolor2 {
    background-color: #f4f4f4;
}
