<rb-graphs-vbar
    [data]="graphData"
    [palette]="colorScheme.domain"
    [colormap]="colormap"
    [catlabel]="categories != null ? categories.label : null"
    [valuelabel]="value.label"
    [serieslabel]="series.label"
    [legendposition]="legendposition"
    [verticalxlabels]="verticalxlabels"
    [stacked]="true"
    [format]="value.format"
    (selectitem)="onClick($event)">
</rb-graphs-vbar> 
<div
    class="rb-chart-loadoverlay"
    *ngIf="isLoading">
    <mat-spinner
        diameter="50">
    </mat-spinner>
</div>
<rb-iconbutton
    *ngIf="showrefresh == true"
    [icon]="'refresh'"
    (click)="refresh()">
</rb-iconbutton>