<rb-icon
    *ngIf="showicon"
    [class]="'rb-tags-icon' + (mandatoryOn ? ' rb-input-icon-mandatory' : '') + (alertOn ? ' rb-input-icon-alert' : '')"
    [icon]="icon">
</rb-icon>
<div
    class="rb-tags-container">
    <span
        [class]="'rb-tags-label' + (mandatoryOn ? ' rb-tags-label-mandatory' : '')  + (alertOn ? ' rb-tags-label-alert' : '') + (tags.length == 0 && !isEditing ? ' rb-tags-label-big' : '')">
        {{label}}
    </span>
    <div
        class="rb-tags-row">
        <div
            *ngFor="let tag of getDisplayTags()"
            class="rb-tags-tag">
            {{tag}}
        </div>
        <input 
            #input
            [class]="'rb-tags-input rb-tags-text-color' + (mandatoryOn ? ' rb-tags-mandatory' : '') + (alertOn ? ' rb-tags-mandatory' : '') + (flasherOn ? ' rb-tags-text-flash' : '')"
            [(ngModel)]="displayvalue"
            (focus)="onFocus($event)"
            (blur)="onBlur($event)"
            (keydown)="onKeydown($event)"
            (keyup)="onKeyup($event)"
            [readonly]="readonly"
            autocomplete="off"
            data-lpignore="true"
            [type]="inputType">
    
    </div>    
    <div
        [class]="'rb-tags-underline' + (isEditing ? ' rb-tags-underline-editing' : '')">
    </div> 
</div>