<rb-icon
    *ngIf="showicon"
    [class]="'rb-input-icon' + (mandatoryOn ? ' rb-input-icon-mandatory' : '') + (alertOn ? ' rb-input-icon-alert' : '')"
    [icon]="icon">
</rb-icon>
<div
    class="rb-input-container">
    <span
        [class]="'rb-input-label' + (mandatoryOn ? ' rb-input-label-mandatory' : '') + (alertOn ? ' rb-input-label-alert' : '')">
        {{label}}
    </span>    
    <div
        #colorbox
        class="rb-color-input-colorbox"
        [style.background]="color"
        (click)="openPicker()">
    </div>
</div>