:host {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
    min-width: 20vw;
    max-width: 25vw;
    max-height: 40%;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    overflow: hidden;
}

.rb-nlbox-header {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    color: #ddd;
    align-items: center;
}

.rb-nlbox-topicon {
    margin-left: var(--v5px);
}

.rb-nlbox-spacer {
    display: flex;
    flex: 1 1 auto;
}

.rb-nlbox-scroll {
    /*overflow: auto;
    min-height: var(--v24px);*/
    flex-basis: auto!important;
}

rb-scroll ::ng-deep .rb-scroll-content {
  width: 100%;  
}

.rb-nlbox-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.rb-nlbox-itemline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--v10px) var(--v10px) var(--v10px) var(--v5px);
}

.rb-nlbox-item:hover{
  background-color: rgb(237, 241, 251);
}

.rb-nlbox-item:hover .rb-nlbox-buttons {
  display: flex;
}

.rb-nlbox-icon {
  display: flex;
  flex: 0 0 auto;
  color: #ccc;
}

.rb-nlbox-text {
  display: flex;
  flex: 1 1 auto;
  user-select: text;
  -ms-user-select:text;
  padding-left: var(--v5px);
  color: #666;
  font-size: 0.95rem;

}

.rb-nlbox-sequencetext {
  display: flex;
  flex: 1 1 auto;
  user-select: text;
  -ms-user-select:text;
  color: #888;
  font-size: 0.85rem;
  font-style: italic;
  padding-left: var(--v10px);
}

.rb-nlbox-buttons {
  display: none;
  flex-direction: row;
  position: absolute;
  right: 0px;
  color: #aaa;
}

.rb-nlbox-input {
  flex: 0 0 auto;
  color: #333;
  margin: var(--v3px);
  resize: none;
  height: var(--v48px);
}

.rb-nlbox-input::placeholder {
    color: #999;
}

.rb-nlbox-input:focus {
    outline-width: 0;
    outline: none;
}


.rb-nlbox-dots {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
    margin: var(--v5px) var(--v28px)
  }
  .rb-nlbox-dots::before, .rb-nlbox-dots::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  .rb-nlbox-dots::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  .rb-nlbox-dots::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--primary-color);
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  
  @keyframes dot-flashing {
    0% {
      background-color: var(--primary-color);
    }
    50%, 100% {
      background-color: rgb(100, 100, 100, 0.2)
    }
  }