<div
    class="rb-nlbox-header">
    <rb-icon
        [class]="'rb-nlbox-topicon'"
        [icon]="'robot_2'">
    </rb-icon>     
    <div
        class="rb-nlbox-spacer">
        {{label}}
    </div>
    <rb-iconbutton
        *ngIf="minimized == false"
        [icon]="'minimize'"
        (click)="clickMinimize()">
    </rb-iconbutton>    
    <rb-iconbutton
        *ngIf="minimized == true"
        [icon]="'crop_3_2'"
        (click)="clickMinimize()">
    </rb-iconbutton>      
    <rb-iconbutton
        [icon]="'clear'"
        (click)="clickClose()">
    </rb-iconbutton>
</div>
<rb-scroll
    *ngIf="minimized == false"
    class="rb-nlbox-scroll"
    #historyscroll>
    <div
        class="rb-nlbox-item"
        *ngFor="let item of history">
        <div
            class="rb-nlbox-itemline">
            <rb-icon
                *ngIf="item.assistant == true"
                [class]="'rb-nlbox-icon'"
                [icon]="'robot_2'">
            </rb-icon>             
            <rb-icon
                *ngIf="item.assistant == false"
                [class]="'rb-nlbox-icon'"
                [icon]="'person'">
            </rb-icon>                             
            <div
                class="rb-nlbox-text">
                {{item.text}}        
            </div>   
            <div
                class="rb-nlbox-buttons"
                *ngIf="item.assistant == true">
                <rb-iconbutton
                    icon="thumb_up"
                    (click)="feedback(item, 1)">
                </rb-iconbutton>
                <rb-iconbutton
                    icon="thumb_down"
                    (click)="feedback(item, -1)">
                </rb-iconbutton> 
                <rb-iconbutton
                    icon="visibility"
                    (click)="toggleShowActions(item)">
                </rb-iconbutton>                       
            </div> 
        </div>   
        <div
            class="rb-nlbox-itemline"
            *ngIf="item.showsequence == true">
            <div
                class="rb-nlbox-sequencetext">
                {{item.sequence}}        
            </div>             
        </div> 
    </div>
    <div
        *ngIf="waiting == true"
        class="rb-nlbox-item">
        <div
            class="rb-nlbox-itemline">
            <rb-icon
                [class]="'rb-nlbox-icon'"
                [icon]="'robot_2'">
            </rb-icon>             
            <div
                class="rb-nlbox-dots">
            </div>
        </div>
    </div>
</rb-scroll>
<textarea
    *ngIf="minimized == false"
    class="rb-nlbox-input"
    [(ngModel)]="currentText"
    (keydown)="onKeyDown($event)"
    [placeholder]="'Ask something...'">
</textarea>