<div
    class="rb-cal-toolbar">
    <rb-search
        [searchtarget]="this"
        [filter]="filterConfig"
        [size]="15"
        [grow]="0"
        [margin]="true">
    </rb-search>
    <rb-choice-input
        *ngIf="layerOptions != null"
        [choicelist]="layerOptions"
        [label]="'Show'"
        [showicon]="true"
        [icon]="'layers'"
        [size]="10"
        [(value)]="activeDatasets">
    </rb-choice-input>
    <rb-spacer></rb-spacer>
    <rb-iconbutton
        [icon]="'arrow_back_ios'"
        (click)="previous()">
    </rb-iconbutton>
    <rb-iconbutton
        [icon]="'arrow_forward_ios'"
        (click)="next()">
    </rb-iconbutton>    
    <rb-choice-input
        [choicelist]="modes"
        [label]="'Display'"
        [showicon]="false"
        [size]="5"
        [(value)]="mode">
    </rb-choice-input>
    <rb-choice-input
        *ngIf="mode == 'week'"
        [choicelist]="weeksOfThisMonth"
        [label]="'Week Starting'"
        [showicon]="false"
        [size]="6"
        [(value)]="weekStarting">
    </rb-choice-input>      
    <rb-choice-input
        [choicelist]="monthOptions"
        [label]="'Month'"
        [showicon]="false"
        [size]="6"
        [(value)]="month">
    </rb-choice-input>
    <rb-string-input
        [label]="'Year'"
        [showicon]="false"
        [size]="5"
        [(value)]="year">
    </rb-string-input>
</div>
<div
    class="rb-cal-week-header">
    <div
        *ngFor="let day of days"
        class="rb-cal-day-of-week">
        <span>{{day}}</span>   
    </div>
</div>
<div
    *ngFor="let week of weeks; index as w"
    class="rb-cal-week">
    <div
        *ngFor="let day of week"
        class="rb-cal-day-container">
        <div
            [class]="'rb-cal-day' + (day == '1' ? ' rb-cal-firstday' : '')">
            <div
                [class]="'rb-cal-day-header' + (day.mainMonth ? '' : ' rb-cal-day-header-light')"
                (click)="clickDay(day)">
                {{day.label}}
            </div>
            <div
                class="rb-cal-day-content-scroll">
                <div
                    class="rb-cal-day-content">
                    <div
                        *ngFor="let item of data[day.id]"
                        class="rb-cal-item"
                        [style.backgroundColor]="item.color"
                        (click)="clickItem(item)">
                        <mat-icon
                            *ngIf="item.icon != null"
                            class="material-symbols-outlined">
                            {{item.icon}}
                        </mat-icon>
                        <p>
                            {{item.label}}
                        </p>
                    </div>
                </div>                    
            </div>
            <div
                *ngIf="data[day.id] != null && data[day.id].length > 3"
                class="rb-cal-count">
                {{data[day.id].length}}
            </div>
        </div>
        <div
            *ngIf="day == null"
            class="rb-cal-noday">     
        </div>
    </div>
</div>
<div
    class="rb-cal-loadoverlay"
    *ngIf="isLoading">
    <mat-spinner
        diameter="50">
    </mat-spinner>
</div>