:host ::ng-deep .rb-clickable-content {
  justify-content: start!important;
  overflow: visible!important;
}

.rb-popup-list-line {
    display: flex;
    flex-direction: row;
}

.rb-popup-list-line-hightlight {
    background-color: #dddddd;
}

.rb-popup-list-text {
    display: flex;
    flex-direction: row;
    padding: var(--v10px) var(--v12px);
    color: var(--dark-writing-color);
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rb-popup-list-button {
    flex: 0 0 auto;
    padding: var(--v10px) var(--v8px);
}
