<div
    *ngFor="let item of hierarchy"
    class="rb-popup-list-line">
    <rb-clickable 
        (click)="select(item)">
        <span
            class="rb-popup-list-text">
            {{item.get(config.displayattribute)}}
        </span>
    </rb-clickable>
    <rb-clickable 
        *ngIf="isHierarchical"
        class="rb-popup-list-button"
        (click)="colapse(item)">
        <mat-icon>expand_less</mat-icon>
    </rb-clickable>
</div>    
<div
    *ngFor="let item of list"
    [class]="'rb-popup-list-line' + (getHighlighted() == item ? ' rb-popup-list-line-hightlight' : '')">
    <rb-clickable 
        (click)="select(item)">
        <span
            class="rb-popup-list-text">
            {{item.get(config.displayattribute)}}
        </span>
    </rb-clickable>
    <rb-clickable 
        *ngIf="isHierarchical"
        class="rb-popup-list-button"
        (click)="expand(item)">
        <mat-icon>expand_more</mat-icon>
    </rb-clickable>

</div>
<div
    class="rb-spinner-container"
    *ngIf="isLoading">
    <mat-spinner
        diameter="20">
    </mat-spinner>
</div>