:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.rb-switch-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
}

.rb-switch-label {
    flex-grow: 1;
    margin-right: var(--v8px);
}

.rb-switch-label-mandatory {
    color: red;
}