:host {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: var(--v42px);
}


.rb-switch-icon {
    flex: 0 0 auto;
	color: grey;
	margin-right: var(--v5px);
    margin-bottom: var(--v2px);
	font-size: 1.4rem;
    width: var(--v24px);
    height: var(--v24px);
}

.rb-switch-icon-mandatory {
    color: red;
}

.rb-switch-icon-alert {
    color: red;
}

.rb-switch-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    margin-bottom: var(--v4px);
}

.rb-switch-label {
    flex-grow: 1;
    margin-right: var(--v12px);
    /*margin-left: var(--v8px);*/
}

.rb-switch-label-mandatory {
    color: red;
}

.rb-switch-label-alert {
    color: red;
}

/*mat-slide-toggle {
    width: var(--v40px);
    height: var(--v40px);
}

mat-checkbox {
    width: var(--v40px);
    height: var(--v40px);    
}*/

/*rb-checkbox {
    margin: 0 var(--v10px);
}*/