<rb-icon
    *ngIf="showicon"
    [class]="'rb-switch-icon' + (mandatoryOn ? ' rb-input-icon-mandatory' : '') + (alertOn ? ' rb-input-icon-alert' : '')"
    [icon]="icon">
</rb-icon>
<div
    class="rb-switch-container">
    <div
        *ngIf="!labelafter"
        [class]="'rb-switch-label' + (mandatoryOn ? ' rb-switch-label-mandatory' : '') + (alertOn ? ' rb-switch-label-alert' : '') ">
        {{label}}
    </div>
    <rb-checkbox
        *ngIf="mode == 'checkbox'"
        [checked]="displayvalue"
        [disabled]="readonly"
        (change)="toggle()">
    </rb-checkbox>
    <rb-switch
        *ngIf="mode == 'slider'"
        [checked]="displayvalue"
        [disabled]="readonly"
        (change)="toggle()">
    </rb-switch>
    <div
        *ngIf="labelafter"
        [class]="'rb-switch-label' + (mandatoryOn ? ' rb-switch-label-mandatory' : '') + (alertOn ? ' rb-switch-label-alert' : '') ">
        {{label}}
    </div>    
</div>
