:host {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--v16px) var(--v5px) var(--v12px) var(--v16px)
}

.rb-switch-container {
    /*padding: 10px 10px 15px 10px;*/
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.rb-switch-label {
    flex-grow: 1;
    margin-right: var(--v8px);
}