<div
    class="rb-switch-container">
    <div
        [class]="'rb-switch-label' + (mandatoryalert ? ' rb-switch-label-mandatory' : '') ">
        {{label}}
    </div>
    <mat-slide-toggle
        matInput 
        *ngIf="mode == 'slider'"
        [checked]="displayvalue"
        [disabled]="readonly"
        (change)="toggle()">
    </mat-slide-toggle>
    <mat-checkbox
        matInput 
        *ngIf="mode == 'checkbox'"
        [checked]="displayvalue"
        [disabled]="readonly"
        (change)="toggle()"
        color="primary">
    </mat-checkbox>
</div>