<mat-icon 
    *ngIf="showicon" 
    [class]="'rb-switch-icon' + (mandatoryOn ? ' rb-switch-icon-mandatory' : '') + (alertOn ? ' rb-switch-icon-alert' : '') ">
    {{icon}}
</mat-icon>
<div
    class="rb-switch-container">
    <div
        *ngIf="!labelafter"
        [class]="'rb-switch-label' + (mandatoryOn ? ' rb-switch-label-mandatory' : '') + (alertOn ? ' rb-switch-label-alert' : '') ">
        {{label}}
    </div>
    <mat-slide-toggle
        matInput 
        *ngIf="mode == 'slider'"
        [checked]="displayvalue"
        [disabled]="readonly"
        (change)="toggle()">
    </mat-slide-toggle>
    <mat-checkbox
        matInput 
        *ngIf="mode == 'checkbox'"
        [checked]="displayvalue"
        [disabled]="readonly"
        (change)="toggle()"
        color="primary">
    </mat-checkbox>
    <div
        *ngIf="labelafter"
        [class]="'rb-switch-label' + (mandatoryOn ? ' rb-switch-label-mandatory' : '') + (alertOn ? ' rb-switch-label-alert' : '') ">
        {{label}}
    </div>    
</div>
