<div
    class="rb-prefs-header">
    <div
        class="rb-prefs-title">
        Preferences
    </div>
    <rb-iconbutton
        [icon]="'navigate_next'"
        (click)="closePreferences()">
    </rb-iconbutton>         
</div> 
<div
    class="rb-prefs-listcontainer hscroll">
    <div 
        *ngFor="let preference of preferences"
        class="rb-prefs-group">
        <rb-choice-input
            [choicelist]="preference.options"
            [label]="preference.label"
            [showicon]="true"
            [icon]="preference.icon ?? 'menu'"
            [size]="18"
            [value]="getPreferenceValue(preference.code)"
            (valueChange)="setPreferenceValue(preference.code, $event)">
        </rb-choice-input>      
    </div>
</div>
