html, 
body {
	background: white;
	display: flex;
	flex-direction: column;
	overflow:hidden;
	position: relative;
}

rb-mobile-layout {
	display: flex;
	flex: 1 0 auto;
}

rb-mobile-page {
	display: flex;
	flex: 1 0 auto;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: white;
	border: solid 0px black;
}

rb-mobile-page.rb-mobile-page-in {
	left: 0px;
	right: 0px;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}

rb-mobile-page.rb-mobile-page-out {
	left: 100%;
	right: -100%;
	transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
}

.rb-mobile-link {
	display: flex;
	margin: 15px 5px;
	padding: 10px 0px;
}

rb-dataset {
	display: flex;
	#flex: 1 0 auto;
	overflow: hidden;
}

rb-form {
	display: flex;
	flex: 0 0 auto;
}

.rb-sidebar {
	flex: 0 0 auto;
}

.rb-include {
	display: flex;
	#flex: 1 0 auto;
	overflow:hidden;
}

.rb-margin {
	margin: 5px 5px;
}

rb-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.rb-hseparator {
	width: 50px;
}

rb-map { 
	display: flex;
	flex:1;
	width: 3000px;
	height: 2000px;
}

.rb-dropdown-panel {
  background: white;
  border-radius: 4px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 256px;
}	

.rb-input-container {
	margin: 25px 5px;
}

md-input-container .md-input[disabled] {
	color: rgba(0, 0, 0, .80);
}

input {
	font-size: 115%;
}

rb-file-input {
	display: flex;
	flex-direction: column;
}

rb-file-input input{
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
    z-index: 100 !important;
    margin-top: -20px;
    padding-top: -20px;
    top: -20px;
}

rb-file-input img {
	max-width: 100%;
}

.rb-search-container {
	margin: 5px 5px;
}

.rb-button {
	flex: 0 0 auto;
}

.md-button.md-primary.md-fab {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0)
}

.md-button.md-primary.md-fab:hover {
	background: rgba(0, 0, 0, 0);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0)
}


.rb-switch {
	margin-left: 10px;
}


rb-hsection {
	display: flex;
	#flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	vertical-align:top;
}

rb-vsection {
	display: flex;
	#flex: 0 1 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
	overflow:hidden;
}


rb-tab-section {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	border: 0px Solid;
}

rb-tab-header-section {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
}

rb-tab-content-section {
	display: flex;
	flex: 0 0 auto;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 0px Solid;
	margin-top: 25px;
}

rb-tab-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
}

.rb-tabheader-active {
  border-bottom: 2px Solid red;
}

rb-tab-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow:1;
	border: 0px Solid;
}

rb-vscroll {
	display: flex;
	overflow: auto;
	#flex: 1 0 auto;
	flex-direction: column;
}

rb-list-scroll {
	display: flex;
	overflow: auto;
	flex: 1 0 auto;
	-webkit-overflow-scrolling: touch;
}

.list-item-active {
  #background-color: #d5d5ff;
  border-left: 4px Solid red;
}

.rb-list-item-circle {
	margin-right: 10px;
	width: 40px;
	height: 40px;
	background-color: lightgray;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;	
}

.rb-list-item-initials {
	#position: relative;
	#top: 25px; /* 25% of parent */
	font-size: 18px; /* 50% of parent */
	line-height: 40px; /* 50% of parent */
	color: white;
	#font-family: "Courier New", monospace;
	#font-weight: bold;
}


.list-item-highlighted {
  background: LightGrey;
}

.list-item-parent {
  background: #EBEDEF;
}

.attributediv {
	display:block;
	border: 0px Solid;
}



.contextmenu{
  visibility:hidden;
  background:#ffffff;
  border:1px solid #8888FF;
  z-index: 10;
  position: absolute;
}


md-input-container .md-errors-spacer{
	min-height: 0px !important;
}

::-webkit-scrollbar-track
{
	border-radius: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb:hover
{
	background-color:#c2c2f0;
}

::-webkit-scrollbar-thumb:active
{
	background-color:#c2c2f0;
} 