<div
    class="rb-file-container">
    <div
        class="rb-file-item-wrapper"
        *ngFor="let file of list"
        (mouseenter)="startHovering(file)"
        (mouseleave)="endHovering(file)" >
        <div
            class="rb-files-item"
            (click)="select(file)">
            <div
                class="rb-files-imgbox">
                <mat-icon
                    *ngIf="file.thumbnail == null">
                    attach_file
                </mat-icon>
                <img
                    class="rb-files-img"
                    [src]="getBase64Thumbnail(file)"
                    *ngIf="file.thumbnail != null">
            </div>
            <div
                *ngIf="showDetails"
                class="rb-files-details">
                <div
                    class="rb-files-name">
                    {{getDisplayFileName(file)}}
                </div>
                <div
                    class="rb-files-date">
                    {{file.date.toLocaleString()}}
                </div>
                <div
                    class="rb-files-date">
                    {{file.username}}
                </div>
            </div>
        </div>
        <div
            class="rb-files-delete">
            <mat-icon
                *ngIf="hovering == file"
                (click)="delete(file)">
                delete
            </mat-icon>
        </div>          
    </div>
    <div
        class="rb-files-nofiles"
        *ngIf="list.length == 0 && uploadProgress == -1">
        No Files
    </div>  
    <div
        class="rb-spinner-container"
        *ngIf="isLoading">
        <mat-spinner
            diameter="20">
        </mat-spinner>
    </div>
    <div
        class="rb-files-uploading"
        *ngIf="uploadProgress != -1">
        <span>Uploading...</span>
        <mat-progress-bar [mode]="'determinate'" [value]="uploadProgress"></mat-progress-bar>
    </div>           
</div>
