.rb-file-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 40px;
}

.rb-files-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    max-width: 18vw;
    overflow:hidden;
}

.rb-files-item-active {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-files-item-active-alt1 {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-files-item-active-alt2 {
    border-left: 3px solid red;
}

.rb-files-imgbox {
    display: flex;
    flex: 0 0 auto;
    padding: 8px;
    width: 4vw;
    height: 4vw;
    justify-content: center;
    align-items: center;
}

.rb-files-img {
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

.rb-files-details {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
}

.rb-files-thumb {
    display: flex;
}

.rb-files-name {
    color:#424242;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rb-files-date {
    font-size: 0.8rem;
    color: lightgray;
}

