.rb-file-container {
    display: flex;
    flex-direction: row;
    /*min-width: 300px;*/
    min-height: 40px;
    flex-wrap: wrap;
}

.rb-file-item-wrapper {
    display: flex;
    flex-direction: row;
    /*width: 18vw;*/
    cursor: pointer;
}

.rb-files-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    position: relative;
}


.rb-files-item-active {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-files-item-active-alt1 {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-files-item-active-alt2 {
    border-left: 3px solid red;
}

.rb-files-imgbox {
    display: flex;
    flex: 0 0 auto;
    padding: var(--v5px);
    width: 3vw;
    height: 4vw;
    justify-content: center;
    align-items: center;
    position: relative;
}

.rb-files-img {
    display: block;
    max-width:100%;
    max-height:100%;
    width: auto;
    height: auto;
}

.rb-files-details {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow: hidden;
    width: 10vw;
    padding: var(--v5px);
}

.rb-files-thumb {
    display: flex;
}

.rb-files-name {
    color:#424242;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rb-files-date {
    font-size: 0.8rem;
    color: lightgray;
}

.rb-files-delete {
    display: block;
    position: absolute;
    top: 5px;
    right: -5px;
    width: var(--v16px);;
    height: var(--v16px);;
    background-color: #ffffffaa;
    border-radius: 50%;
    border: 3px solid var(--primary-dark-color);
    color: var(--primary-dark-color);
}

.rb-files-delete mat-icon {
    font-size: var(--v16px);
    font-weight: 600;
}

.rb-files-nofiles {
    display: flex;
    min-width: 250px;
    min-height: 80px;
    justify-content: center;
    align-items: center;
    color: var(--light-writing-color);
    font-size: 0.9rem;
}

.rb-files-uploading {
    display: flex;
    flex-direction: column;
    min-width: 280px;
    min-height: 50px;
    padding: 10px;
}

.rb-files-uploading > span {
    padding-bottom: 5px;
}