<div
    *ngIf="currentPart == 0">
    <div
        class="rb-datetime-cal-header">
        <div
            class="rb-datetime-cal-monthnav"
            (click)="previousMonth()">
            <span>&lt;</span>
        </div>
        <div
            class="rb-datetime-cal-title">
            <span>{{monthsOfYear[month]}} {{year}}</span>
        </div>
        <div
            class="rb-datetime-cal-monthnav"
            (click)="nextMonth()">
            <span>&gt;</span>
        </div>
    </div>
    <div
        class="rb-datetime-cal-weekline">
        <div
            *ngFor="let d of daysOfWeek"
            class="rb-datetime-cal-dayheader"
            style="color: #bbbbbb;">
            <span>{{d}}</span>
        </div>
    </div>
    <div
        *ngFor="let w of calendar"
        class="rb-datetime-cal-weekline">
        <div
            *ngFor="let d of w">
            <div
                *ngIf="d == ''"
                class="rb-datetime-cal-emptydaybox">
            </div>
            <div
                *ngIf="d != ''"
                [class]="'rb-datetime-cal-daybox' + (day == d ? ' rb-datetime-cal-daybox-today' : '')"
                (click)="selectDate(d)">
                <span>{{d}}</span>
            </div>            
        </div>   
    </div>
</div>
<div
    *ngIf="currentPart == 1">
    <div 
        class="rb-datetime-clock-back"
        (click)="selectHourFromBack($event)">
        <div 
            class="rb-datetime-clock-dial-pointer"
            [style.transform]="'rotate(' + (15 * hour) + 'deg)'">
        </div>        
        <div 
            *ngFor="let hour of hoursOfDay"
            [class]="'rb-datetime-clock-dial-number' + (hour.val % 2 == 1 ? ' rb-datetime-clock-dial-number-inter' : '')"
            [style.top.%]="45 + (40 * hour.y)"
            [style.left.%]="45 + (40 * hour.x)"
            (click)="selectHour(hour.val)">
            <span>{{hour.val}}</span>
        </div>        
    </div>
</div>
<div
    *ngIf="currentPart == 2">
    <div 
        class="rb-datetime-clock-back"
        (click)="selectMinuteFromBack($event)">
        <div 
            class="rb-datetime-clock-dial-pointer"
            [style.transform]="'rotate(' + (6 * minute) + 'deg)'">
        </div>        
        <div 
            *ngFor="let minute of minutesOfHour"
            [class]="'rb-datetime-clock-dial-number'"
            [style.top.%]="45 + (40 * minute.y)"
            [style.left.%]="45 + (40 * minute.x)"
            (click)="selectMinute(minute.val)">
            <span>{{minute.val}}</span>
        </div>           
    </div>
</div>
