

.rb-datetime-cal-header {
    display:flex;
    flex-direction: row;
    line-height: var(--v36px);
}

.rb-datetime-cal-title {
    display:flex;
    flex: 1 0 auto;
    text-align: center;
    justify-content: center;
}

.rb-datetime-cal-monthnav {
    display:flex;
    flex: 0 0 auto;
    text-align: center;
    justify-content: center;
    width: var(--v32px);
    cursor: pointer
}

.rb-datetime-cal-monthnav:hover {
    background-color: #ddd;
}

.rb-datetime-cal-daybox {
    display:flex;
    width: var(--v32px);
    line-height: var(--v32px);
    display: flex;
    font-size: 0.8rem;
    color: #666666;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.rb-datetime-cal-daybox:hover {
    background: var(--main-color);
    color: white; 
}

.rb-datetime-cal-daybox-today {
    background: rgb(255,64,129);
    color: white; 
}

.rb-datetime-cal-daybox-today:today {
    background: var(--main-color);
    color: white; 
}

.rb-datetime-cal-dayheader {
    display:flex;
    width: var(--v32px);
    line-height: var(--v32px);
    display: flex;
    font-size: 0.8rem;
    color: #666666;
    justify-content: center;
}

.rb-datetime-cal-emptydaybox {
    display:flex;
    width: var(--v32px);
    line-height: var(--v32px);
    display: flex;
}

.rb-datetime-cal-weekline {
    height: var(--v32px);
    display: flex;
}

.rb-datetime-clock-back {
    background-color:#eeeeee;
    border-radius: 50%;
    height: min(12vw, 230px);
    position: relative;
    width: min(12vw, 230px);
    margin: var(--v10px);
    cursor: pointer;
}

.rb-datetime-clock-dial-pointer {
    background: darkblue;
    height: 35%;
    left: 49%;
    position: absolute;
    top: 15%;
    transform-origin: 50% 100%;
    width: 1%;
    pointer-events: none;
}

.rb-datetime-clock-dial-number {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #666666;
    position: absolute;
    top: 5%;
    left: 45%;
    width: 10%;
    height: 10%;
    transform-origin: 50% 50%;
    font-size: 0.8rem;
    border-radius: 50%;
    /*pointer-events: none;*/
}

.rb-datetime-clock-dial-number span {
    vertical-align: middle;
    display: inline-block;
}

.rb-datetime-clock-dial-number:hover {
    background: var(--main-color);
    color: white;
}

.rb-datetime-clock-dial-number-inter {
    color: transparent;
}

.rb-datetime-clock-dial-number-inter:hover {
    background: var(--main-color);
    color: white;
}