<rb-scroll>
    <div
        class="rb-dfe-category-repeater"
        *ngFor="let cat of data">
        <div
            class="rb-dfe-category">
            <div
                class="rb-dfe-cat-header"
                *ngIf="cat.object != null"
                [rb-drag-object]="cat">
                <div
                    class="rb-dfe-cat-header-label">
                    <span>{{cat.label}}</span>
                </div>
                <div
                    class="rb-dfe-cat-header-edit"
                    (click)="edit(cat)">
                    <rb-icon [icon]="'more_vert'"></rb-icon>
                </div>  
                <div
                    class="rb-dfe-cat-header-delete"
                    (click)="delete(cat)">
                    <rb-icon [icon]="'close'"></rb-icon>
                </div>                     
            </div>
            <div
                class="rb-dfe-cat-content">
                <div
                    [class]="'rb-dfe-dropzone ' + dropzoneClass({type:'item', cat:cat, item:null}, 'rb-dfe-dropzone-active', 'rb-dfe-dropzone-over')"
                    (mouseover)="over({type:'item', cat:cat, item:null})"
                    (mouseout)="out()"
                    (rb-drag-dropzone)="dropped($event)">
                </div>
                <div
                    class="rb-dfe-item-repeater"
                    *ngFor="let item of cat.items">
                    <div
                        class="rb-dfe-item"
                        [rb-drag-object]="item">
                        <rb-icon
                            [icon]="item.icon">
                        </rb-icon>
                        <div
                            class="rb-dfe-item-label">
                            <span>{{item.label}}</span>
                        </div>        
                        <div
                            class="rb-dfe-item-edit"
                            (click)="edit(item)">
                            <rb-icon [icon]="'more_vert'"></rb-icon>
                        </div>  
                        <div
                            class="rb-dfe-item-delete"
                            (click)="delete(item)">
                            <rb-icon [icon]="'close'"></rb-icon>
                        </div>                              
                    </div>
                    <div
                        [class]="'rb-dfe-dropzone ' + dropzoneClass({type:'item', cat:cat, item:item}, 'rb-dfe-dropzone-active', 'rb-dfe-dropzone-over')"
                        (mouseover)="over({type:'item', cat:cat, item:item})"
                        (mouseout)="out()"
                        (rb-drag-dropzone)="dropped($event)">
                    </div>
                </div>                
            </div>     
        </div> 
        <div
            [class]="'rb-dfe-dropzone ' + dropzoneClass({type:'cat', cat:cat}, 'rb-dfe-dropzone-active', 'rb-dfe-dropzone-over')"
            (mouseover)="over({type:'cat', cat:cat})"
            (mouseout)="out()"
            (rb-drag-dropzone)="dropped($event)">
        </div>                      
    </div>
</rb-scroll>
<div
    class="rb-dfe-toolbox">
    <div
        [class]="'rb-dfe-toolbox-box rb-dfe-toolbox-' + type.is"
        *ngFor="let type of types"
        [rb-drag-object]="type">
        <rb-icon [icon]="type.icon"></rb-icon>
        <span>{{type.name}}</span>
    </div>
</div>