<div
    class="rb-dfe-scroll">
    <div
        class="rb-dfe-content">
        <div
            class="rb-dfe-category-repeater"
            *ngFor="let cat of data">
            <div
                class="rb-dfe-category">
                <div
                    class="rb-dfe-cat-header"
                    *ngIf="cat.object != null"
                    [rb-drag-object]="cat">
                    <div
                        class="rb-dfe-cat-header-label">
                        <span>{{cat.label}}</span>
                    </div>
                    <div
                        class="rb-dfe-cat-header-edit"
                        (click)="edit(cat)">
                        <mat-icon>more_vert</mat-icon>
                    </div>  
                    <div
                        class="rb-dfe-cat-header-delete"
                        (click)="delete(cat)">
                        <mat-icon>close</mat-icon>
                    </div>                     
                </div>
                <div
                    class="rb-dfe-cat-content">
                    <div
                        [class]="'rb-dfe-dropzone ' + dropzoneClass({type:'item', cat:cat, item:null}, 'rb-dfe-dropzone-active', 'rb-dfe-dropzone-over')"
                        (mouseover)="over({type:'item', cat:cat, item:null})"
                        (mouseout)="out()"
                        (rb-drag-dropzone)="dropped($event)">
                    </div>
                    <div
                        class="rb-dfe-item-repeater"
                        *ngFor="let item of cat.items">
                        <div
                            class="rb-dfe-item"
                            [rb-drag-object]="item">
                            <mat-icon>{{item.icon}}</mat-icon>
                            <div
                                class="rb-dfe-item-label">
                                <span>{{item.label}}</span>
                            </div>        
                            <div
                                class="rb-dfe-item-edit"
                                (click)="edit(item)">
                                <mat-icon>more_vert</mat-icon>
                            </div>  
                            <div
                                class="rb-dfe-item-delete"
                                (click)="delete(item)">
                                <mat-icon>close</mat-icon>
                            </div>                              
                        </div>
                        <div
                            [class]="'rb-dfe-dropzone ' + dropzoneClass({type:'item', cat:cat, item:item}, 'rb-dfe-dropzone-active', 'rb-dfe-dropzone-over')"
                            (mouseover)="over({type:'item', cat:cat, item:item})"
                            (mouseout)="out()"
                            (rb-drag-dropzone)="dropped($event)">
                        </div>
                    </div>                
                </div>     
            </div> 
            <div
                [class]="'rb-dfe-dropzone ' + dropzoneClass({type:'cat', cat:cat}, 'rb-dfe-dropzone-active', 'rb-dfe-dropzone-over')"
                (mouseover)="over({type:'cat', cat:cat})"
                (mouseout)="out()"
                (rb-drag-dropzone)="dropped($event)">
            </div>                      
        </div>
    </div>
</div>
<div
    class="rb-dfe-toolbox">
    <div
        [class]="'rb-dfe-toolbox-box rb-dfe-toolbox-' + type.is"
        *ngFor="let type of types"
        [rb-drag-object]="type">
        <mat-icon>{{type.icon}}</mat-icon>
        <span>{{type.name}}</span>
    </div>
</div>