<rb-clickable
    [matTooltip]="getTooltip()"
    [matTooltipShowDelay]="100"
    [matTooltipPosition]="'right'"
    [matTooltipClass]="'rb-menu-link-tooltip rb-menu-link-tooltip-' + look"
    (click)="click()"
    (contextmenu)="rightclick($event)">
    <div
        class="rb-menu-link-container">
        <mat-icon 
            *ngIf="config.icon.indexOf(':') >= 0"
            [svgIcon]="config.icon"
            [class]="'rb-menu-link-icon rb-menu-link-icon-' + look">
        </mat-icon>
        <mat-icon
            *ngIf="config.icon.indexOf(':') == -1"
            [class]="'rb-menu-link-icon rb-menu-link-icon-' + look">
            {{config.icon}}
        </mat-icon>
        <span 
            flex
            [class]="'rb-menu-link-text rb-menu-link-text-' + look"
            *ngIf="mode == 'large'">
            {{config.label}}
        </span>
    </div>
</rb-clickable> 
<div
    [class]="'rb-menu-link-popup-back rb-menu-link-popup-back-' + look"
    [style.visibility]="cmShow ? 'visible' : 'hidden'"
    (click)="closePopup()">
    <div
        [class]="'rb-menu-link-popup-container rb-menu-link-popup-container-' + look"
        [style.top.px]="cmTop"
        [style.left.px]="cmLeft">
        <mat-action-list>
            <button
                mat-list-item
                *ngIf="!isInPersonalMenu()"
                (click)="addToPersonalMenu()">
                Add to Personal Menu
            </button>
            <button
                mat-list-item
                *ngIf="isInPersonalMenu()"
                (click)="removeFromPersonalMenu()">
                Remove from Personal Menu
            </button>
            <button
                mat-list-item
                *ngIf="!isInGroupMenu()"
                (click)="addToGroupMenu()">
                Add to Group Menu
            </button>
            <button
                mat-list-item
                *ngIf="isInGroupMenu()"
                (click)="removeFromGroupMenu()">
                Remove from Group Menu
            </button>                        
        </mat-action-list>
    </div>
</div>