<rb-graphs-hbar
    [data]="graphData"
    [palette]="colorScheme.domain"
    [colormap]="colormap"
    [catlabel]="categories != null ? categories.label : null"
    [valuelabel]="value.label"
    [serieslabel]="series.label"
    [legendposition]="legendposition"
    [valueonbar]="valueonbar"
    [stacked]="false"
    [format]="value.format"
    (selectitem)="onClick($event)">
</rb-graphs-hbar> 
<div
    class="rb-chart-loadoverlay"
    *ngIf="isLoading">
    <mat-spinner
        diameter="50">
    </mat-spinner>
</div>