:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    position: relative;
}

.rb-chart-loadoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: #eee8;
}

rb-iconbutton {
    position: absolute;
    top: 0px;
    right: 0px;
    color: grey;
}