

.mat-list {
    padding: 0px;
    flex-grow: 1;
}

.mat-list-item {
    font-size: 1.0rem;
    padding: 0px;
}

:host ::ng-deep .mat-list-item-content {
    padding: 0!important;
}

.mat-button {
    font-size: 1.0rem;
    font-weight: initial;
    height: 48px;
    width: 100%;
    text-align: initial;
}

.rb-popup-hardlist-line {
    display: flex;
    flex-direction: row;
}

.rb-popup-hardlist-text {
    flex: 1 1 auto;
    padding: var(--v10px) var(--v12px);
}