:host {
    display: flex;
    flex-direction: column;
}

.rb-button {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--primary-dark-color);
    border-radius: var(--v5px);
    font-weight: 500;
    font-size: 0.9rem;
}

.rb-button-label {
    padding: var(--v8px) var(--v12px);
    color: var(--primary-dark-color);
}