:host {
    display: flex;
    flex-direction: column;
}

.rb-button-frame {
    display: flex;
    flex-direction: row;
    border: var(--v1px) solid var(--primary-dark-color);
    border-radius: var(--v5px);
    font-weight: 500;
    font-size: 0.9rem;
}

.rb-button-frame-disabled {
    border: 1px solid #ccc;
}

.rb-button-iconmode {
    display: flex;
    flex-direction: row;
    border: none;
    border-radius: 50%;;
    overflow: hidden;
}

.rb-button-content-wrapper {
    display: flex;
    flex-direction: row;
    padding: var(--v8px) var(--v8px);
    color: var(--primary-dark-color);
    align-items: center;
}

.rb-button-icon {
    margin: -3px;
}

.rb-button-label {
    padding: 0 var(--v4px);
    line-height: var(--v24px);
}
