<div
    #button
    [class]="'rb-button-frame ' + (!enabled ? ' rb-button-frame-disabled' : '')">
    <rb-clickable
        [enabled]="enabled"
        [focus]="focus"
        [running]="running">
        <div
            class="rb-button-content-wrapper">
            <rb-icon
                *ngIf="icon != null"
                [icon]="icon">
            </rb-icon>
            <span
                *ngIf="label != null"
                class="rb-button-label">
                {{label}}
            </span>
        </div>
    </rb-clickable>       
</div>
