<div
    class="rb-about-frame"
    (click)="$event.stopPropagation()">
    <div
        class="rb-about-header">
        <rb-icon
            [class]="'rb-about-topicon'"
            [icon]="'info'">
        </rb-icon>        
        <div
            class="rb-about-title">
            About
        </div>
    </div>
    <div
        class="rb-about-container">
        <div
            class="rb-about-item">
            Client: {{clientVersion}}
        </div>
        <div
            class="rb-about-item">
            Angular: {{angularVersion}}
        </div>
        <div
            *ngFor="let key of serverVersionKeys"
            class="rb-about-item">
            {{key}}: {{serverVersions[key]}}
        </div>
        
    </div>
</div>
