<svg 
    [ngClass]="'rb-file-fileicon'"
    viewBox="0 0 153.3886 187.59438" >
    <defs
        id="defs18" />
    <g
        id="layer1"
        transform="translate(-40.7077,-28.449523)">
        <path
            [style]="'fill:#eee;stroke:' + color + ';stroke-width:10;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1'"
            d="M 45.713771,33.677291 45.928406,209.91485 178.32178,211.00271 178.55336,94.42113 119.82934,33.455879 Z"
            id="path138" />
        <path
            [style]="'fill:#fff;stroke:' + color + ';stroke-width:8;stroke-linecap:butt;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1'"
            d="m 120.56023,33.130537 0.88113,61.637396 58.0835,1.015561"
            id="path140" />
        <rect
            id="rect194"
            width="124.59536"
            height="69.706528"
            x="69.500931"
            y="121.63792"
            [style]="'stroke-width:0.264583;fill:' + color" />
        <text 
            x="75" 
            y="176" 
            font-size="3em"
            fill="#ddd">
            {{name}}
        </text>
    </g>
</svg>
