

.mat-list {
    padding: 0px;
    flex-grow: 1;
}

.mat-list-item {
    font-size: 1.0rem;
    padding: 0px;
}

:host ::ng-deep .mat-list-item-content {
    padding: 0!important;
}

.mat-button {
    font-size: 1.0rem;
    font-weight: initial;
    height: 48px;
}

.rb-list-select-button {
    flex-grow: 1;
    text-align: left;
}

.rb-list-select-button-hightlight {
    background-color: #eceef8;
}

.rb-list-expand-button {

}
