<div
    class="rb-modal-frame"
    (click)="$event.stopPropagation()">
    <div
        class="rb-modal-header"
        *ngIf="title != null">
        <span class="material-symbols-outlined rb-modal-topicon">
            {{icon}}
        </span>   
        <div
            class="rb-modal-title">
            {{title}}
        </div>
        <rb-iconbutton
            icon="clear"
            (click)="close()">
        </rb-iconbutton>

    </div>
    <div
        class="rb-modal-container">
        <ng-content></ng-content>
        <div #container></div>
    </div>
</div>
