<div
    class="rb-modal-frame"
    (click)="$event.stopPropagation()">
    <div
        class="rb-modal-header"
        *ngIf="title != null">
        <rb-icon
            [class]="'rb-modal-topicon'"
            [icon]="icon">
        </rb-icon>        
        <div
            class="rb-modal-title">
            {{title}}
        </div>
        <rb-iconbutton
            icon="clear"
            (click)="close()">
        </rb-iconbutton>

    </div>
    <div
        class="rb-modal-container">
        <ng-content></ng-content>
        <div #container></div>
    </div>
</div>
