<div
    class="rb-log-post"
    *ngIf="editable">
    <mat-form-field
        style="flex-grow:1;">
        <mat-label>New Note</mat-label>
        <input 
            matInput 
            [(ngModel)]="value"
            autocomplete="off">
        <mat-icon 
            matPrefix
            class="rb-grey-icon">create</mat-icon>
        
    </mat-form-field >
    <button
        mat-raised-button
        color="primary"
        (click)="post()">
        Post
    </button>
</div>
<div
    class="rb-log-container">
    <div
        class="rb-log-card"
        *ngFor="let item of list">
        <div
            class="rb-log-header">
            <div
                class="rb-log-name">
                {{getUserForItem(item)}}
            </div>
            <div
                class="rb-log-date">
                {{getDateForItem(item)}}
            </div>
        </div>
        <div
            class="rb-log-entry"
            [innerHTML]="getEntryForItem(item)">
        </div>
    </div >

</div>
