:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 40vw;
    overflow: hidden;
    margin: var(--v12px);
}

.rb-log-post {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*padding-right: var(--v10px);*/
}

.rb-log-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    /*padding: 0px 20px 0px 20px;*/
}

.rb-log-card {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: var(--v8px) 0px var(--v5px) 0px;
    padding: var(--v10px);
    background-color: #fcfcfc;
    border: 1px solid #dfdfdf;
    -ms-user-select:text;
	user-select: text;
}

.rb-log-card-active:hover {
    border-color: #6a74aa;;
    cursor: pointer;
}

.rb-log-header {
    display: flex;
    flex-direction: row;
}

.rb-log-bodyrow {
    display: flex;
    flex-direction: row;
}

.rb-log-bodycol {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.rb-log-name {
    display: inline-block;
    color: #aaa;
    font-size: 0.8rem;
    flex: 1 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rb-log-date {
    display: inline-block;
    color: #aaa;
    font-size: 0.8rem;
    flex: 0 0 auto;
    margin-left: var(--v10px);
}

.rb-log-entry {
    display: flex;
    margin: var(--v5px) 0px;
}

.rb-log-category {
    display: inline-block;
    color: #aaa;
    font-size: 0.8rem;
    flex: 0 0 auto;
}

.rb-log-options {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

rb-iconbutton {
    color: var(--light-writing-color);
}