<div
    class="rb-log-post"
    *ngIf="isEditable">
    <rb-string-input
        [label]="'New Note'"
        [icon]="'create'"
        [size]="40"
        [(value)]="value"
        (keydown)="keydown($event)">
    </rb-string-input>
    <button
        mat-raised-button
        class="rb-button"
        color="primary"
        (click)="post()">
        Post
    </button>
</div>
<div
    class="rb-log-container">
    <div
        class="rb-log-card"
        *ngFor="let item of list">
        <div
            class="rb-log-header">
            <div
                class="rb-log-name">
                {{getUserForItem(item)}}
            </div>
            <div
                class="rb-log-date">
                {{getDateForItem(item)}}
            </div>
        </div>
        <div
            class="rb-log-entry"
            [innerHTML]="getEntryForItem(item)">
        </div>
    </div >

</div>
