<div
    class="rb-log-post"
    *ngIf="isEditable">
    <rb-textarea-input
        [label]="'New Note'"
        [icon]="'create'"
        [size]="40"
        [margin]="false"
        [rows]="2"
        [(value)]="value"
        (keydown)="keydown($event)">
    </rb-textarea-input>
    <rb-button
        [label]="'Post'"
        [focus]="true"
        (click)="post()">
    </rb-button>
</div>
<div
    class="rb-log-container hscroll"
    (scroll)="onScroll($event)">
    <div
        [class]="'rb-log-card' + (canClick ? ' rb-log-card-active' : '')"
        *ngFor="let item of list"
        (click)="clickCard(item)">
        <div
            class="rb-log-header">
            <div
                class="rb-log-name">
                {{getUserForItem(item)}}
            </div>
            <div
                class="rb-log-date">
                {{getDateForItem(item)}}
            </div>
        </div>
        <div
            class="rb-log-bodyrow">
            <div
                class="rb-log-bodycol">
                <div
                    class="rb-log-entry"
                    [innerHTML]="getEntryForItem(item)">
                </div>
                <div
                    *ngIf="hasCategory(item)"
                    class="rb-log-category">
                    {{getCategoryForItem(item)}}
                </div>                
            </div>
            <div
                *ngIf="item.canDelete()"
                class="rb-log-options">
                <rb-iconbutton
                    *ngIf="item.canDelete()"
                    [icon]="'close_small'"
                    (click)="deleteItem(item)">
                </rb-iconbutton>    
            </div>
        </div>
    </div >
</div>
