

.rb-popup-address-line {
    display: flex;
    flex-direction: row;
}

.rb-popup-address-text-hightlight {
    background-color: #dddddd;
}

.rb-popup-address-text {
    display: flex;
    flex-direction: row;
    padding: var(--v10px) var(--v12px);
    color: var(--dark-writing-color);
    flex: 1 1 auto;
}



