<mat-form-field 
    [style.width]="(size * 15) + 'px'" >
    <mat-label>{{label}}</mat-label>
    <input 
        #input
        matInput 
        [(ngModel)]="displayvalue"
        (focus)="focus($event)"
        (blur)="blur($event)"
        (keydown)="keydown($event)"
        [readonly]="readonly"
        autocomplete="off">
    <mat-icon 
        matPrefix
        class="rb-grey-icon">{{icon}}
    </mat-icon>
    <div
        [class]="'rb-input-flasher' + (flasherOn ? ' rb-input-flasher-on' : '')">        
    </div>
</mat-form-field>