<mat-icon 
    *ngIf="icon != null"
    class="rb-grey-icon">
    {{icon}}
</mat-icon>
<mat-form-field 
    [style.width]="widthString">
    <mat-label>{{label}}</mat-label>
    <input 
        #input
        matInput 
        [class]="'rb-input-text-color' + (flasherOn ? ' rb-input-text-flash' : '')"
        [(ngModel)]="displayvalue"
        (focus)="focus($event)"
        (blur)="blur($event)"
        (keydown)="keydown($event)"
        [readonly]="readonly"
        autocomplete="off">
</mat-form-field>