:host {
    display: flex;
    flex: 1 1 auto;
    padding-right: 8px;
}

:host > rb-input {
    margin: 5px 0px 0px 0px;
}


.rb-filter-button {
    padding: 0px;
    min-width: 32px;
}

.rb-filter-dialog {
    min-width: 500px;
    min-height: 250px;
}