<mat-icon 
    *ngIf="showicon" 
    [class]="'rb-input-icon material-symbols-outlined' + (mandatoryOn ? ' rb-input-icon-mandatory' : '') + (alertOn ? ' rb-input-icon-alert' : '') ">
    {{icon}}
</mat-icon>
<div
    class="rb-input-container">
    <span
        [class]="'rb-input-label' + (mandatoryOn ? ' rb-input-label-mandatory' : '') + (alertOn ? ' rb-input-label-alert' : '')  + ((displayvalue === null || displayvalue === '') && !isEditing ? ' rb-input-label-big' : '')">
        {{label}}
    </span>    
    <textarea 
        #input
        [class]="'rb-input-textarea rb-input-text-color' + (mandatoryOn ? ' rb-input-mandatory' : '') + (alertOn ? ' rb-input-alert' : '') + (flasherOn ? ' rb-input-text-flash' : '')"
        [style.flex-grow]="rows == null ? 1 : 0"
        [(ngModel)]="displayvalue"
        (focus)="onFocus($event)"
        (blur)="onBlur($event)"
        (keydown)="onKeydown($event)"
        (keyup)="onKeyup($event)"
        [readonly]="readonly"
        autocomplete="off"
        spellcheck="true"
        [rows]="rows">
    </textarea>
    <div
        [class]="'rb-input-underline' + (isEditing ? ' rb-input-underline-editing' : '')">
    </div>
</div>
