<!-- List of Conversations -->
<div
    class="rb-chat-header">
    <div
        class="rb-chat-title">
        Chat
    </div>
    <rb-iconbutton
        [icon]="'add'"
        (click)="createChat()">
    </rb-iconbutton>               
    <div
        class="rb-chat-conversation-header-spacer">
    </div>     
    <rb-iconbutton
        [icon]="'navigate_next'"
        (click)="closeChat()">
    </rb-iconbutton>         
</div> 
<div
    *ngIf="selectedChat == null"
    class="rb-chat-listcontainer hscroll">
    <div
        *ngIf="creatingChat == true"
        class="rb-chat-conversation-header">
        <input
            #createinput
            class="rb-chat-creating-input"
            (keydown)="chatCreationKeydown($event)"
            (blur)="chatCreationBlur()"
            [(ngModel)]="newChatName"
            placeholder="New conversation name">
    </div>
    <div
        *ngFor="let chat of chats"
        class="rb-chat-conversation-header">
        <rb-clickable
            (click)="selectChat(chat)">
            <div
                class="rb-chat-conversation-header-name">
                {{chat.name}}            
            </div>     
            <div
                class="rb-chat-conversation-header-spacer">
            </div> 
            <div
                class="rb-chat-conversation-header-badge"
                [style.visibility]="chat.unreadCount > 0 ? 'visible' : 'hidden'">
                {{chat.unreadCount}}
            </div>                                                           
        </rb-clickable>
    </div>      
</div>

<!-- Opened Conversation -->
<div
    *ngIf="selectedChat != null"
    class="rb-chat-conversation">
    <div
        class="rb-chat-conversation-header">
        <div
            class="rb-chat-conversation-header-name">
            {{selectedChat.name}}            
        </div>
        <rb-iconbutton
            *ngIf="conversationMode == 'messages'"
            [icon]="'person_add'"
            (click)="changeConversationMode('users')">
        </rb-iconbutton> 
        <rb-iconbutton
            *ngIf="conversationMode == 'users'"
            [icon]="'comment'"
            (click)="changeConversationMode('messages')">
        </rb-iconbutton> 
        <div
            class="rb-chat-conversation-header-spacer">
        </div>     
        <rb-iconbutton
            [icon]="'expand_less'"
            (click)="unselectChat()">
        </rb-iconbutton>            
    </div>
    <!-- Messages -->
    <div
        #messagescroll
        *ngIf="conversationMode == 'messages'"
        class="rb-chat-listcontainer hscroll">
        <div
            *ngFor="let message of selectedChat.messages"
            class="rb-chat-listitem">
            <div
                class="rb-chat-listitemcontent">
                <div
                    class="rb-chat-listitemmeta">
                    <div
                        class="rb-chat-from">
                        {{message.from.fullname}}
                    </div>
                    <div
                        class="rb-chat-date">
                        {{formatDate(message.date)}}
                    </div>                
                </div>
                <div
                    class="rb-chat-body">
                    {{message.body}}
                </div>
            </div>        
            <div
                class="rb-chat-divider">
                <div
                    class="rb-chat-divider-line">
                </div>
            </div>            
        </div>    
    </div>
    <div
        *ngIf="conversationMode == 'messages'"
        class="rb-chat-inputcontainer">
        <input
            class="rb-chat-input"
            (keydown)="chatInputKeydown($event)"
            [(ngModel)]="textToSend">
        <rb-iconbutton
            [icon]="'send'"
            (click)="post()">
        </rb-iconbutton>   
    </div>    

    <!-- Users -->
    <div
        *ngIf="conversationMode == 'users'"
        class="rb-chat-listcontainer hscroll">
        <div
            class="rb-chat-groupheader">
            Current users
        </div>
        <div
            *ngFor="let user of selectedChat.users"
            class="rb-chat-listitem">
            <div
                class="rb-chat-listitemcontent-row">
                <div
                    class="rb-chat-user">
                    {{user.fullname}}
                </div>
                <rb-iconbutton
                    *ngIf="user.username != username"
                    [icon]="'remove'"
                    (click)="removeUser(user)">
                </rb-iconbutton>                  
            </div>        
            <div
                class="rb-chat-divider">
                <div
                    class="rb-chat-divider-line">
                </div>
            </div>            
        </div>    
        <div
            class="rb-chat-groupheader">
            Add new user
        </div>        
        <div
            *ngFor="let user of listOtherUsers(selectedChat.users)"
            class="rb-chat-listitem">
            <div
                class="rb-chat-listitemcontent-row">
                <div
                    class="rb-chat-user">
                    {{user.fullname}}
                </div>
                <rb-iconbutton
                    [icon]="'add'"
                    (click)="addUser(user)">
                </rb-iconbutton>                  
            </div>        
            <div
                class="rb-chat-divider">
                <div
                    class="rb-chat-divider-line">
                </div>
            </div>            
        </div>    
    </div>     
    

</div>
