<button
    mat-icon-button
    [matMenuTriggerFor]="chatmenu"
    (menuOpened)="menuOpened()" 
    (menuClosed)="menuClosed()">
    <mat-icon>chat_bubble_outline</mat-icon>
</button>
<div
    *ngIf="totalUnread > 0"
    class="rb-chat-badge">
    <span>{{totalUnread}}</span>
</div>
<mat-menu
    #chatmenu="matMenu"
    class="rb-chat-menupanel">
    <div
        class="rb-chat-container"
        (click)="$event.stopPropagation()">
        <div
            *ngFor="let chat of chats"
            class="rb-chat-conversation-container">
            <div
                class="rb-chat-conversation-header"
                (click)="openChat(chat)">
                {{chat.label}}
            </div>
            <div
                *ngIf="chat.linkLabel != null && chat == focusChat"
                class="rb-chat-conversation-link"
                (click)="clickLink(chat)">
                {{chat.linkLabel}}
            </div>
            <div
                *ngIf="chat == focusChat"
                class="rb-chat-conversation"
                [(scrollTop)]="chat.scrollpos">
                <div
                    *ngFor="let message of chat.messages"
                    [class]="'rb-chat-message' + (message.fromMe == true ? ' rb-chat-message-fromme' : '')">
                    <div
                        class="rb-chat-date">
                        {{message.date | date : 'shortTime'}}
                    </div>
                    <div
                        class="rb-chat-body">
                        {{message.body}}
                    </div>
                </div>
            </div>
            <textarea
                *ngIf="chat == focusChat"
                class="rb-chat-textarea"
                (keyup)="keyUp($event)" 
                [(ngModel)]="chat.newmessage">
            </textarea> 
        </div>
        <div
            class="rb-chat-add-container">
            <button
                mat-stroked-button
                (click)="newChat()">
                <mat-icon>add</mat-icon>
                New Chat
            </button>           
            <mat-action-list>
                <button 
                    mat-menu-item
                    *ngFor="let user of users"
                    (click)="newChatWith(user)">
                    {{user}}
                </button>
            </mat-action-list>     
        </div>
    </div>
</mat-menu>    
