:host {
    display: flex;
    position: relative;
	overflow: hidden;
	flex-direction: column;
    flex: 1 1 auto;
    width: 300px;
}

:host > .rb-list-container > mat-action-list > .rb-list-repeater > button {
	height: auto!important;
}

.rb-list-container {
    display: flex;
	overflow: auto;
	flex-direction: column;
    flex: 1 1 auto;
    width: 300px;  
}

.rb-list-repeater {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.rb-list-item {
    display: flex;
    flex: 1 1 auto;
	flex-direction: column;
	margin: 12px 4px 12px 4px;
    min-height: 48px;
    overflow: hidden;
    justify-content: center;
}

.rb-list-item-active {
	border-left: 4px Solid red;
	padding-left: -4px;
}

.rb-list-item-active-alt1 {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-list-item-metaline {
    display: flex;
    flex-direction: row;
    height: 16px;
}

.rb-list-item-meta1 {
    font-size: smaller;
    font-weight: 400;
    color: #888888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.rb-list-item-meta2 {
    font-size: smaller;
    font-weight: 400;
    color: #666666;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 16px;
}

.rb-list-item-meta2-badge {
    color: white;  
    background-color: lightgray;
    border-radius: 8px;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.rb-list-item-metaspacer {
    flex: 1 1 auto;
}


.rb-list-item-main {
    font-weight: 400;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rb-list-item-sub {
    color: #aaaaaa;
    font-size: small;
    line-height: 16px;
    min-height: 16px;
}

.rb-list-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rb-list-divider-line {
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
}

.rb-list-floating-count{
    display:block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: lightgray;
    color: white;
    height: 20px;
    padding: 3px 10px 3px 10px;
    border-radius: 12px;
    opacity: 0.7;
}

.rb-list-floating-refresh{
    display:block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: lightgray;
    color: white;
    height: 20px;
    padding: 2px 8px 6px 8px;
    border-radius: 12px;
    opacity: 0.7;
    cursor: pointer;
}