:host {
    display: flex;
    position: relative;
	overflow: hidden;
	flex-direction: column;
    flex: 1 1 auto;
    width: 17.5vw;
}

:host > .rb-list-container > mat-action-list > .rb-list-repeater > button {
	height: auto!important;
}

.rb-list-container {
    display: flex;
	/*overflow: scroll;*/
	flex-direction: column;
    flex: 1 1 auto;
    width: 17.5vw;  
}

.rb-list-repeater {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.rb-list-repeater-selected {
    background-color: #e0e9f2;
}

.rb-list-item {
    border-left: 4px Solid transparent;
}

.rb-list-item-active {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-list-item-active-alt1 {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-list-item-active-alt2 {
	border-left: 4px Solid red;
	padding-left: -4px;
}

.rb-list-item-data {
    display: flex;
    flex: 1 1 auto;
	flex-direction: column;
    margin: var(--v12px) var(--v20px);
    min-height: 3.2vw;
    overflow: hidden;
    justify-content: center;
}


.rb-list-item-metaline {
    display: flex;
    flex-direction: row;
    height: var(--v16px);
}

.rb-list-item-meta1 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #888888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.rb-list-item-meta2 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #666666;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: var(--v16px);
}

.rb-list-item-meta2-badge {
    color: white;  
    background-color: lightgray;
    border-radius: 8px;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.rb-list-item-metaspacer {
    flex: 1 1 auto;
}


.rb-list-item-main {
    font-weight: 400;
    line-height: var(--v24px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.0rem;
}

.rb-list-item-sub {
    color: #aaaaaa;
    font-size: 0.75rem;
    line-height: var(--v16px);
    min-height: var(--v16px);
}

.rb-list-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rb-list-divider-line {
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
}

.rb-list-floating {
    display:block;
    position: absolute;
    background: #eee;
    color: #aaa;
    min-width: var(--v16px);
    height: var(--v16px);
    padding: 1px 5px 1px 5px;
    border: 1px solid #aaa;
    border-radius: 12px;
    font-size: 0.8rem;
    text-align: center;
}

.rb-list-floating-count{
    right: 10px;
    bottom: 10px;
}

.rb-list-floating-refresh {
    left: 10px;
    bottom: 10px;
    cursor: pointer;
}

.rb-list-floating-refresh .mat-icon {
    font-size: 1.0rem;
}

