:host {
    display: flex;
    position: relative;
	overflow: hidden;
	flex-direction: column;
    flex: 1 1 auto;
    width: 17.5vw;
}

/*:host > .rb-list-container > mat-action-list > .rb-list-repeater > button {
	height: auto!important;
}*/

rb-scroll ::ng-deep .rb-scroll-content {
    width: 17.5vw;  
}

/*.rb-list-container {
    display: flex;
	flex-direction: column;
    flex: 1 1 auto;
    width: 17.5vw;  
}*/

.rb-list-repeater {
    display:flex;
    flex-direction: column;
    align-items: stretch;
}

.rb-list-repeater-selected {
    background-color: #e0e9f2;
}

.rb-list-item {
    border-left: 4px Solid transparent;
}

.rb-list-item-active {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-list-item-active-alt1 {
	border-left: 4px Solid #7985cb;
	padding-left: -4px;
    background-color: #eceef8;
}

.rb-list-item-active-alt2 {
	border-left: 4px Solid red;
	padding-left: -4px;
}

.rb-list-item-row {
    display: flex;
    flex: 1 1 auto;
	flex-direction: row;
    align-items: center;
    margin: var(--v12px) var(--v20px);
    min-height: 3.2vw;
    overflow: hidden;
}

.rb-list-item-image {
    width: 3vw;
    height: 3vw;
    margin-right: 0.5vw;
    background-color: #f0f0f0;
    border-radius: 30%;
    border: 1px solid #ccc;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rb-list-item-col {
    display: flex;
    flex: 1 1 auto;
	flex-direction: column;
    overflow: hidden;
    justify-content: center;
}


.rb-list-item-metaline {
    display: flex;
    flex-direction: row;
    height: var(--v16px);
}

.rb-list-item-meta1 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #888888;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.rb-list-item-meta2 {
    font-size: 0.75rem;
    font-weight: 400;
    color: #666666;  
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: var(--v16px);
}

.rb-list-item-meta2-badge {
    color: white;  
    background-color: lightgray;
    border-radius: 8px;
    text-align: center;
    padding: 0px 3px 0px 3px;
}

.rb-list-item-meta2-checkbox {
    display: flex;
    width: var(--v14px);
    height: var(--v14px);
    border: 1px solid #aaa;
    border-radius: var(--v3px);
    stroke: white;
    stroke-width: var(--v3px);
    stroke-opacity: 0;
}

.rb-list-item-meta2-checkbox-checked {
    background: var(--primary-color);
    stroke-opacity: 1;
    
}

.rb-list-item-meta-loading {
    width: 20%;
    height: var(--v16px); 
}

.rb-list-item-metaspacer {
    flex: 1 1 auto;
}


.rb-list-item-main {
    font-weight: 400;
    line-height: var(--v24px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.0rem;
}

.rb-list-item-main-loading {
    width: 100%;
    height: var(--v24px); 
    margin: var(--v5px) 0;
}

.rb-list-item-sub {
    color: #aaaaaa;
    font-size: 0.75rem;
    line-height: var(--v16px);
    min-height: var(--v16px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;    
}

.rb-list-item-sub-loading {
    width: 100%;
    height: var(--v16px); 
}

.rb-list-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rb-list-divider-line {
    border-bottom: 1px solid #e0e0e0;
    width: 90%;
}

.rb-list-norecords {
    color: var(--light-writing-color);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.rb-list-floating {
    display:block;
    position: absolute;
}

.rb-list-floating-count{
    right: 10px;
    bottom: 10px;
    font-size: 0.8rem;
    text-align: center;
    min-width: var(--v16px);
    height: var(--v16px);
    background: #eee;
    color: var(--primary-dark-color);
    padding: 1px 5px 1px 5px;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    opacity: 0.7;
}

.rb-list-floating-refresh {
    left: 10px;
    bottom: 0px;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.rb-list-floating-refresh-icon {
    font-size: 1.8rem;
    font-weight: 900;
    color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 0px 0px 5px white;
}

.rb-list-floating-refresh-icon:hover {
    color: var(--primary-color);
    -webkit-text-stroke: 0px var(--primary-color);
}

