<rb-scroll
    (rbscroll)="onScroll($event)">
    <div
        *ngFor="let item of enhancedList"
        [rb-drag-object]="allowdrag ? item.object : null"                
        [class]="'rb-list-repeater' + (selectedObject == item.object ? ' rb-list-repeater-selected' : '')">
        <div
            [style.background]="item.color">
            <rb-clickable
                (click)="itemClicked(item.object)">
                <div 
                    class="rb-list-item-data">
                    <div
                        class="rb-list-item-metaline"
                        *ngIf="hasMetaLine()">
                        <span
                            class="rb-list-item-meta1">
                            {{item.meta1.value}}
                        </span>
                        <div
                            class="rb-list-item-metaspacer">
                        </div>
                        <span
                            *ngIf="item.meta2.type == 'text' || item.meta2.type == 'badge'"
                            [ngClass]="'rb-list-item-meta2' + (item.meta2.type == 'badge' ? ' rb-list-item-meta2-badge' : '')">
                            {{item.meta2.value}}
                        </span>
                        <div
                            *ngIf="item.meta2.type == 'bool'"
                            [ngClass]="'rb-list-item-meta2-checkbox' + (item.meta2.value == true ? ' rb-list-item-meta2-checkbox-checked' : '')">
                            <svg focusable="false" viewBox="0 0 24 24">
                                <path fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span
                        class="rb-list-item-main"
                        *ngIf="hasMainLine()">
                        {{item.main.value}}
                    </span>
                    <span
                        class="rb-list-item-sub"
                        *ngIf="hasSubLine()">
                        {{item.sub.value}}
                    </span>
                </div>
            </rb-clickable> 
        </div>
        <div
            class="rb-list-divider">
            <div
                class="rb-list-divider-line">
            </div>
        </div>
    </div>
    <div
        class="rb-list-norecords"
        *ngIf="list.length == 0 && isLoading == false">
        No records
    </div>	
    <div
        class="rb-spinner-container"
        *ngIf="isLoading">
        <mat-spinner
            diameter="20">
        </mat-spinner>
    </div>	
</rb-scroll>    
<div
    *ngIf="showCount()"
    class="rb-list-floating rb-list-floating-count">
    {{getCountText()}}
</div>
<div
    *ngIf="showRefresh()"
    class="rb-list-floating rb-list-floating-refresh"
    (click)="refresh()">
    <mat-icon>refresh</mat-icon>
</div>