:host {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    max-width: 30vw;
    margin-left: var(--v8px);
    margin-right: var(--v8px);
}

.rb-tl-entry {
    display: flex;
    flex-direction: row;
}


.rb-tl-datecol {
    display: flex;
    flex-direction: column;
    width: 5vw;
    align-items: end;
}

.rb-tl-date {
    height: var(--v16px);
}

.rb-tl-date-textfocus {
    font-size: 0.85rem;
    color:#333;
    margin: 0px;
}

.rb-tl-date-textnofocus {
    font-size: 0.75rem;
    color:#999;
    margin: 0px;
}

.rb-tl-time {
    height: var(--v20px);
}

.rb-tl-time-textfocus {
    color: #333;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0px;
}

.rb-tl-time-textnofocus {
    color: #999;
    font-size: 0.8rem;
    font-weight: 200;
    margin: 0px;
}


.rb-tl-linecol {
    display: flex;
    flex-direction: column;
    width: 1.2vw;
    align-items: center;
    margin-left: var(--v12px);
    margin-right: var(--v12px);
}

.rb-tl-lineend {
    display: flex;
    flex: 1 1 0;
    border-width: 2px;
    border-style: solid;
}


.rb-tl-linecolor {
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.rb-tl-linenocolor {
    border-color: transparent;
}

.rb-tl-linecircle0 {
    display: flex;
    flex: 0 0 auto;
    border: 3px solid;
    border-color: var(--primary-color);
    border-radius: 8px;
    width: 12px;
    height: 12px;
}

.rb-tl-linecircle1 {
    display: flex;
    flex: 0 0 auto;
    background: var(--primary-color);
    border-radius: 6px;
    width: 7px;
    height: 7px;
}


.rb-tl-detailcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 6vw;
    padding-right: var(--v12px);
}

.rb-tl-detailcol-narrow {
    width: 10vw;
}

.rb-tl-detailcol-wide {
    width: 20vw;
}

.rb-tl-main {
    display: inline-block;
    color: #333;
    font-size: 0.9rem;
    white-space: nowrap;
    max-width: 15vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rb-tl-sub {
    display: inline-block;
    color: grey;
    font-size: 0.80rem;
    white-space: nowrap;
    max-width: 20vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rb-tl-more {
    margin-left: 100px;
    cursor: pointer;
    font-size: 0.8rem;
    color: gray;
}