<rb-scroll>
    <div
        class="rb-tl-entry"
        *ngFor="let entry of entries">
        <div
            class="rb-tl-datecol">
            <div
                class="rb-tl-date">
                <p
                    *ngIf="entry.showDatePart && !reverse"
                    [class]="datefocus ? 'rb-tl-date-textfocus' : 'rb-tl-date-textnofocus'">
                    {{entry.date | rbDate}}
                </p>
            </div>
            <div
                class="rb-tl-time">
                <p
                    *ngIf="entry.showTimePart"
                    [class]="datefocus ? 'rb-tl-time-textnofocus' : 'rb-tl-time-textfocus'">
                    {{entry.date | rbTime}}
                </p>
            </div>
            <div
                class="rb-tl-date">
                <p
                    *ngIf="entry.showDatePart && reverse"
                    [class]="datefocus ? 'rb-tl-date-textfocus' : 'rb-tl-date-textnofocus'">
                    {{entry.date | rbDate}}
                </p>
            </div>                          
        </div>
        <div
            class="rb-tl-linecol">
            <div
                [class]="'rb-tl-lineend' + (entry.showTopLine ? ' rb-tl-linecolor' : ' rb-tl-linenocolor')">
            </div>
            <div
                *ngIf="entry.level == 0"
                class="rb-tl-linecircle0">
            </div>
            <div
                *ngIf="entry.level > 0"
                class="rb-tl-linecircle1">
            </div>
            <div
                [class]="'rb-tl-lineend' + (entry.showBottomLine ? ' rb-tl-linecolor' : ' rb-tl-linenocolor')">
            </div>
        </div>
        <div
            class="rb-tl-detailcol">
            <div
                class="rb-tl-main">
                {{entry.main}}
            </div>
            <div
                class="rb-tl-sub">
                {{entry.sub}}
            </div>       
        </div>      
    </div>
    <div
        class="rb-tl-more"
        *ngIf="showLevel == 0 && maxLevel > 0"
        (click)="showMore()">
        Show more...
    </div>
    <div
        class="rb-tl-more"
        *ngIf="showLevel > 0 && maxLevel > 0"
        (click)="showLess()">
        Show less...
    </div>    
</rb-scroll>