<div
    class="rb-tl-container hscroll">
    <div
        class="rb-tl-entry"
        *ngFor="let entry of entries">
        <div
            *ngIf="entry.showDatePart"
            class="rb-tl-daterow">
            <div
                class="rb-tl-date">
                {{entry.date | rbDate}}
            </div>
            <div
                class="rb-tl-line">
                <div
                    [class]="'rb-tl-lineendtop' + (entry.showTopLine ? ' rb-tl-linecolor' : ' rb-tl-linenocolor')">
                </div>            
            </div>
        </div>
        <div
            class="rb-tl-timerow">
            <div
                *ngIf="entry.showTimePart == true"
                class="rb-tl-time">
                {{entry.date | rbTime}}
            </div>
            <div
                *ngIf="entry.showTimePart == false"
                class="rb-tl-time">
            </div>
            <div
                class="rb-tl-line">
                <div
                    [class]="'rb-tl-lineendtop' + (entry.showTopLine ? ' rb-tl-linecolor' : ' rb-tl-linenocolor')">
                </div>
                <div
                    *ngIf="entry.level == 0"
                    class="rb-tl-linecircle0">
                </div>
                <div
                    *ngIf="entry.level > 0"
                    class="rb-tl-linecircle1">
                </div>
                <div
                    [class]="'rb-tl-lineendbottom' + (entry.showBottomLine ? ' rb-tl-linecolor' : ' rb-tl-linenocolor')">
                </div>
            </div>     
            <div
                class="rb-tl-detail">
                <div
                    class="rb-tl-main">
                    {{entry.main}}
                </div>
                <div
                    class="rb-tl-sub">
                    {{entry.sub}}
                </div>
            </div>              
        </div>
    </div>
    <div
        class="rb-tl-more"
        *ngIf="showLevel == 0"
        (click)="showMore()">
        Show more...
    </div>
    <div
        class="rb-tl-more"
        *ngIf="showLevel > 0"
        (click)="showLess()">
        Show less...
    </div>    
</div>
