<div
    class="rb-timeslider-datetime">
    <span>{{minDate | rbDate}}</span><span>{{minDate | rbTime}}</span>
</div>
<div
    class="rb-timeslider-slider">
    <div
        #line
        class="rb-timeslider-line">
    </div>
    <div
        *ngIf="holding"
        (mouseup)="mouseup($event)"
        (mouseout)="mouseup($event)"
        (mousemove)="mousemove($event)"
        class="rb-timeslider-back">
    </div>
    <div
        #thumb
        class="rb-timeslider-thumb"
        [style.left.px]="thumbLeft"
        [style.pointer-events]="holding ? 'none' : 'auto'"
        (mousedown)="mousedown($event)"
        (mouseup)="mouseup($event)"
        (mousemove)="mousemove($event)">
        <span>{{currentDate | rbDate}}</span><span>{{currentDate | rbTime}}</span>
    </div>
</div>
<div
    class="rb-timeslider-datetime">
    {{maxDate | rbDate}}<br>{{maxDate | rbTime}}
</div>