:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
}

.rb-df-container {
    display: flex;
    flex-direction: column;
    min-width: 30vw;
}

.rb-df-category {
    background-color: var(--primary-color);
    color: white;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    padding: var(--v3px)  var(--v10px)
}

.rb-df-line {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.rb-df-linetitle {
    font-size: 0.8rem;

}

.rb-df-linedetail {
    font-size: 0.75rem;
    color: lightgray;
    padding-left: var(--v40px);
    margin-left: var(--v5px);
    margin-top: -8px;
    padding-bottom: var(--v10px);
    max-width: 400px;
    flex: 0 1 auto;
    white-space: pre-wrap;
}

.rb-df-headspace {
    padding-top: 0px;
}

.rb-df-lineinput {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.rb-df-inputwrapper {
    display: flex;
    flex-direction: row;
    margin: var(--v12px) var(--v5px) var(--v12px) var(--v16px);
}

.rb-df-input-icon {
    color: grey;
    margin-right: var(--v5px);
    width: var(--v24px);
    height: var(--v24px);
}

.rb-df-lineinput-vert {
    display: flex;
    flex-direction: column;
}

.rb-df-linelabel {
    font-size: 0.8rem;
    color: grey;
}

.rb-df-linelabel-small {
    font-size: 0.8rem;
    color: grey;
}

:host ::ng-deep .rb-files-nofiles {
    justify-content: start!important;
}