<div
    class="rb-df-container">
    <div
        *ngFor="let object of sortedVisibleList"
        class="rb-df-line">
        <div
            class="rb-df-category"
            *ngIf="isFirstInCategory(object) && categoryattribute != null && object.get(categoryattribute) != null && object.get(categoryattribute) != ''">
            {{object.get(categoryattribute)}}
        </div>
        <div
            *ngIf="titleattribute != null && object.get(titleattribute)"
            class="rb-df-linetitle">
            {{object.get(titleattribute)}}
        </div>
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'string'">
            <rb-string-input
                [object]="object"
                [attribute]="valueattribute"
                [grow]="1"
                [icon]="'description'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable">
            </rb-string-input>
        </div>
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'address'">
            <rb-string-input
                [object]="object"
                [attribute]="valueattribute"
                [grow]="1"
                [icon]="'location_on'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable">
            </rb-string-input>
        </div>
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'phone'">
            <rb-string-input
                [object]="object"
                [attribute]="valueattribute"
                [grow]="1"
                [icon]="'call'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable">
            </rb-string-input>
        </div>  
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'email'">
            <rb-string-input
                [object]="object"
                [attribute]="valueattribute"
                [grow]="1"
                [icon]="'email'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable">
            </rb-string-input>
        </div>                       
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'textarea'">
            <rb-textarea-input
                [object]="object"
                [attribute]="valueattribute"
                [size]="30"
                [rows]="3"
                [icon]="'description'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable">
            </rb-textarea-input>
        </div>        
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'choice'">
            <rb-choice-input
                [object]="object"
                [attribute]="valueattribute"
                [choicelist]="object.get(optionsattribute)"
                [size]="20"
                [icon]="'list'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable"
                (change)="calcSortedVisibleList()">
            </rb-choice-input>
        </div>
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'date'">
            <rb-datetime-input
                [object]="object"
                [attribute]="valueattribute"
                [size]="15"
                [icon]="'calendar_today'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable"
                (change)="calcSortedVisibleList()">
            </rb-datetime-input>
        </div>  
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'files' || getTypeOf(object) == 'photos' || getTypeOf(object) == 'videos'">
            <div
                class="rb-df-inputwrapper">
                <mat-icon
                    style="color:gray; width:30px; margin-left: 15px">
                    attach_file
                </mat-icon>
                <div
                    class="rb-df-lineinput-vert">
                    <div
                        class="rb-df-linelabel">
                        {{object.get(labelattribute)}}
                    </div>
                    <rb-fileset
                        #fileset
                        [overrideobject]="object">
                            <rb-filedrop
                                [fileset]="fileset">
                                <rb-filelist
                                    [fileset]="fileset"
                                    [details]="true"
                                    [downloadOnSelect]="true">
                                </rb-filelist>
                            </rb-filedrop>
                    </rb-fileset>
                </div>            
            </div>
        </div>
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'signature'">
            <div
                class="rb-df-inputwrapper">
                <mat-icon
                    style="color:gray; width:30px; margin-left: 15px">
                    gesture
                </mat-icon>
                <div
                    class="rb-df-lineinput-vert">
                    <div
                        class="rb-df-linelabel">
                        {{object.get(labelattribute)}}
                    </div>
                    <rb-file-input
                        style="margin-left:0px; padding-left: 0px;"
                        [object]="object"
                        [attribute]="valueattribute"
                        [editable]="isEditable"
                        [width]="300"
                        [height]="80">
                    </rb-file-input>
                </div>                
            </div>
        </div>        
        <div
            class="rb-df-lineinput"
            *ngIf="getTypeOf(object) == 'checkbox'">
            <rb-switch-input
                [object]="object"
                [attribute]="valueattribute"
                [icon]="'description'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable"
                [grow]="1"
                (change)="calcSortedVisibleList()">
            </rb-switch-input>
        </div>                
        <div
            class="rb-df-lineinput rb-df-headspace"
            *ngIf="getTypeOf(object) == 'number'">
            <rb-number-input
                [object]="object"
                [attribute]="valueattribute"
                [size]="8"
                [icon]="'description'"
                [label]="object.get(labelattribute)"
                [editable]="isEditable">
            </rb-number-input>
        </div>
        <div
            class="rb-df-lineinput"
            *ngIf="getTypeOf(object) == 'unknown'">
            Unknown type<br><br>
        </div> 
        <div
            *ngIf="object.get(detailattribute) != null"
            class="rb-df-linedetail">
            {{object.get(detailattribute)}}
        </div>
    </div>
</div>
<div
    class="rb-spinner-container"
    *ngIf="isLoading">
    <mat-spinner
        diameter="20">
    </mat-spinner>
</div>	