:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: var(--v12px) var(--v16px) var(--v12px) var(--v16px);
    flex: 1 1 0;
    align-items: start;
}

.rb-linktable-header-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-x: hidden;
    width: 100%;
    height: var(--v24px);
    position: relative;
}

.rb-linktable-header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--v24px);
    color: darkgray;
    border-top-left-radius: var(--v5px);
    border-top-right-radius: var(--v5px);
    /*border-left: 0.06vw solid transparent;*/

}

.rb-linktable-header-grid {
    color: white;
    background-color: var(--primary-color);
}

.rb-linktable-colheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    cursor: pointer;
    /*border-right: 0.06vw solid transparent;*/
}

.rb-linktable-colheader span {
    padding: 0px var(--v5px);
}

rb-scroll {
    flex: 0 1 auto!important;
    max-width: 100%;
}

rb-scroll ::ng-deep .rb-scroll-scroller {
    flex: 0 1 auto!important; 
}

.rb-linktable-body-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.rb-linktable-body {
    display: flex;
    flex-direction: column;
}

.rb-linktable-body-border-on {
    border-color: lightgray;
    border-style: solid;
    border-width: 0.06vw 0.06vw 0px 0px ;
}

.rb-linktable-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.rb-linktable-grouprow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: #f0f0f0;
}

.rb-linktable-grouprow:hover {
    background-color: #e0e0e0;
}

.rb-linktable-rowitem {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;    
    border: none;
    overflow: hidden;
}

.rb-linktable-border {
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex: 1 1 auto;
    border-color: lightgray;
    border-style: solid;
    border-width: 0px;
    overflow: hidden;
}

.rb-linktable-border-on {
    border-width: 0px 0px 0.06vw 0.06vw;
}

.rb-linktable-rowitem-alighright {
    justify-content: end;
}

.rb-linktable-rowitem span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
    padding: var(--v5px);
}

.rb-linktable-rowitem a {
    color: var(--primary-dark-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
    padding: var(--v5px);
}

.rb-linktable-rowitem a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rb-linktable-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777!important;
    flex: 1 1 auto;
}

.rb-linktable-loading {
    width: 100%;
    max-width: 5vw;
    height: var(--v16px);
}

.rb-linktable-footer-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-x: hidden;
    width: 100%;
    height: var(--v24px);
    position: relative;
}

.rb-linktable-footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    /*height: var(--v24px);*/
    color: darkgray;
    border-width: 0px 0.06vw 0px 0px;
    border-style: solid;
}

.rb-linktable-footer-grid {
    border-right-color: lightgray;
    border-left-color: transparent;
}

.rb-linktable-colfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rb-linktable-colfooter span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
    font-weight: bold;
    color: var(--dark-writing-color);
    padding: 0 var(--v5px);
}

.rb-linktable-colfooter a {
    color: var(--primary-dark-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
    font-weight: bold;
    padding: 0 var(--v5px);
}

.rb-linktable-colfooter a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rb-linktable-colfooter-grid {
    border-color: lightgray;
}