<div
    [class]="'rb-linktable-header-container'">
    <div
        [class]="'rb-linktable-header' + (grid ? ' rb-linktable-header-grid' : '')"
        [style.left.px]="-scrollLeft">
        <div
            class="rb-linktable-colheader"
            *ngFor="let col of columns"
            [style.width]="col.width"
            (click)="clickColumnHeader(col)">
            <span>{{col.label}}</span>
        </div>
    </div>
</div>
<rb-scroll
    (rbscroll)="onScroll($event)">                                                                                                                                                    
    <div
        [class]="'rb-linktable-body' + (grid ? ' rb-linktable-body-border-on' : '')">
        <div
            *ngFor="let groupKey of groupKeys"
            class="rb-linktable-group">
            <div
                *ngIf="groupKey != 'null'"
                [class]="'rb-linktable-grouprow'">
                <div
                    *ngFor="let col of groups[groupKey].sums; index as i"
                    [class]="'rb-linktable-rowitem' + (col.align == 'right' ? ' rb-linktable-rowitem-alighright' : '') + (grid ? ' rb-linktable-border' : '')"
                    [style.width]="col.width"
                    (click)="toggleGroup(groupKey)">
                    <span
                        *ngIf="i == 0">
                        {{groupKey}}             
                    </span>   
                    <span
                        [style.font-weight]="'bold'"
                        *ngIf="i > 0">
                        {{col.formattedValue}}                
                    </span>               
                </div>            
            </div>
            <div
                [class]="'rb-linktable-row'"
                *ngFor="let line of groups[groupKey].lines">
                <div
                    *ngFor="let col of line.cols; index as i"
                    [class]="'rb-linktable-rowitem'"
                    [style.width]="col.width"
                    [style.background-color]="col.backColor"
                    [style.color]="col.foreColor">
                    <div
                        [class]="'rb-linktable-border' + (col.align == 'right' ? ' rb-linktable-rowitem-alighright' : '') + (grid ? ' rb-linktable-border-on' : '')">
                        <a
                            *ngIf="col.icon == null && col.link != null && !col.loading"
                            (click)="clickLink(col.link, line.object)">
                            {{col.formattedValue}}                
                        </a>
                        <a
                            *ngIf="col.icon == null && col.modal != null && !col.loading"
                            (click)="clickModal(col.modal)">
                            {{col.formattedValue}}                
                        </a>
                        <span
                            *ngIf="col.icon == null && col.link == null && !col.loading">
                            {{col.formattedValue}}                
                        </span>
                        <div
                            *ngIf="col.icon != null && !col.loading"
                            class="rb-linktable-icon">
                            <rb-icon
                                [icon]="col.icon">
                            </rb-icon>
                        </div>  
                        <div
                            *ngIf="col.loading"
                            class="rb-loadingbox rb-linktable-loading">
                        </div>
                    </div>              
                </div>
            </div>          
        </div>
    </div>
</rb-scroll>
<div
    *ngIf="showFooter()"
    [class]="'rb-linktable-footer-container'">
    <div
        [class]="'rb-linktable-footer' + (grid ? ' rb-linktable-footer-grid' : '')"
        [style.left.px]="-scrollLeft">
        <div
            *ngFor="let col of sums"
            [class]="'rb-linktable-colfooter'"
            [style.visibility]="col.formattedValue != null ? 'visible' : 'hidden'"
            [style.width]="col.width">
            <div
                [class]="'rb-linktable-border' + (col.align == 'right' ? ' rb-linktable-rowitem-alighright' : '') + (grid ? ' rb-linktable-border-on' : '')">
                <a
                    *ngIf="col.link != null"
                    (click)="clickSumLink(col.link)">
                    {{col.formattedValue}}
                </a>
                <span
                    *ngIf="col.link == null">
                    {{col.formattedValue}}            
                </span>  
            </div>          
        </div>
    </div>
</div>