:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: var(--v12px) var(--v16px) var(--v12px) var(--v16px);
    flex: 1 1 0;
}

.rb-linktable-header-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-x: hidden;
    height: var(--v24px);
    position: relative;
}

.rb-linktable-header {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--v24px);
    color: darkgray;
    border-top-left-radius: var(--v5px);
    border-top-right-radius: var(--v5px);

}

.rb-linktable-header-grid {
    color: white;
    background-color: var(--primary-color);
}

.rb-linktable-colheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin: 0px var(--v10px) 0px 0px;*/
    padding: 0px var(--v5px);
    font-size: 0.9rem;
    border-right: 1px solid transparent;
    cursor: pointer;
}

rb-scroll {
    flex: 0 1 auto!important;
}

rb-scroll ::ng-deep .rb-scroll-scroller {
    flex: 0 1 auto!important; 
}

.rb-linktable-body-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.rb-linktable-body {
    display: flex;
    flex-direction: column;
    border-width: 1px 0px 0px 1px;
}

.rb-linktable-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    /*margin-bottom: var(--v20px);*/
}

.rb-linktable-rowitem {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
    padding: var(--v5px);
    border-width: 0px 1px 1px 0px;
    border-color: transparent;
    border-style: solid;
}

.rb-linktable-rowitem-alighright {
    justify-content: end;
}

.rb-linktable-rowitem span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.95rem;
}

.rb-linktable-link {
    color: var(--primary-dark-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rb-linktable-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777!important;
    flex: 1 1 auto;
}

a.rb-linktable-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rb-linktable-border {
    border-color: lightgray;
    border-style: solid;
}

.rb-linktable-footer-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    overflow-x: hidden;
    height: var(--v24px);
    position: relative;
}

.rb-linktable-footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    left: 0px;
    height: var(--v24px);
    color: darkgray;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
}

.rb-linktable-footer-grid {
    border-color: lightgray;
}

.rb-linktable-colfooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px var(--v5px);
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--dark-writing-color);
    border-style: solid;
    border-width: 0px 0px 1px 1px;
}

.rb-linktable-colfooter-grid {
    border-color: lightgray;
}