<div
    [class]="'rb-linktable-header-container'">
    <div
        [class]="'rb-linktable-header' + (grid ? ' rb-linktable-header-grid' : '')"
        [style.left.px]="-scrollLeft">
        <div
            class="rb-linktable-colheader"
            *ngFor="let col of columns"
            [style.width.vw]="col.width"
            (click)="clickColumnHeader(col)">
            {{col.label}}
        </div>
    </div>
</div>
<rb-scroll
    (rbscroll)="onScroll($event)">                                                                                                                                                    
    <div
        [class]="'rb-linktable-body' + (grid ? ' rb-linktable-border' : '')">
        <div
            [class]="'rb-linktable-row'"
            *ngFor="let object of list">
            <div
                *ngFor="let col of columns; index as i"
                [class]="'rb-linktable-rowitem' + (col.align == 'right' ? ' rb-linktable-rowitem-alighright' : '') + (grid ? ' rb-linktable-border' : '')"
                [style.width.vw]="col.width"
                [style.background-color]="backColor(col, object)"
                [style.color]="foreColor(col, object)">
                <a
                    *ngIf="!isIcon(col, object) && isClickable(col, object)"
                    class="rb-linktable-link"
                    (click)="clickLink(col, object)">
                    {{getValue(col, object)}}                
                </a>
                <span
                    *ngIf="!isIcon(col, object) && !isClickable(col, object)">
                    {{getValue(col, object)}}                
                </span>
                <div
                    *ngIf="isIcon(col, object)"
                    class="rb-linktable-icon">
                    <mat-icon
                        class="material-symbols-outlined">
                        {{icon(col, object)}}
                    </mat-icon>         
                </div>                
            </div>
        </div>    
    </div>
</rb-scroll>
<div
    *ngIf="showFooter()"
    [class]="'rb-linktable-footer-container'">
    <div
        [class]="'rb-linktable-footer' + (grid ? ' rb-linktable-footer-grid' : '')"
        [style.left.px]="-scrollLeft">
        <div
            *ngFor="let col of columns"
            [class]="'rb-linktable-colfooter' + (col.align == 'right' ? ' rb-linktable-rowitem-alighright' : '') + (grid ? ' rb-linktable-colfooter-grid' : '')"
            [style.visibility]="col.sum ? 'visible' : 'hidden'"
            [style.width.vw]="col.width">
            <a
                *ngIf="isSumClickable(col)"
                class="rb-linktable-link"
                (click)="clickSumLink(col)">
                {{getSum(col)}}               
            </a>
            <span
                *ngIf="!isSumClickable(col)">
                {{getSum(col)}}             
            </span>            
        </div>
    </div>
</div>