<mat-toolbar
    color="primary">
    <mat-toolbar-row>
        <div>
            <img [src]="logoUrl" height="25" style="vertical-align: middle;"/>
        </div>
        &nbsp;&nbsp;
        <span>{{apptitle}}</span>
        <span
            class="rb-pagetitle">
            &nbsp;&nbsp;|&nbsp;&nbsp;{{viewTitle}}
        </span>
        <div
            class="rb-toolbar-spacer">
        </div>
        <rb-global-search
            [objectViewMap]="objectViewMap"
            (navigate)="navigateTo($event)">
        </rb-global-search>
        <rb-notification
            (navigate)="navigateTo($event)">
        </rb-notification>
        <button
            mat-button
            [matMenuTriggerFor]="usermenu">
            {{userdisplay}}
        </button>
        <mat-menu
            #usermenu="matMenu">
            <button
                mat-menu-item
                (click)="logout()">
                Logout
            </button>
        </mat-menu>        
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container
    autosize>
    <mat-sidenav 
        mode="side" 
        opened
        [style.width.px]="menuWidth">
        <div
            class="rb-menu-nav">
            <div
                class="rb-menu-container">
                <div
                    class="rb-menu">
                    <rb-view-loader 
                        [target]="menuTarget"
                        (navigate)="navigateTo($event)">
                    </rb-view-loader>
                </div>
            </div>
            <div
                class="rb-menu-control">
                <button
                    mat-icon-button
                    (click)="toggleMenuMode()">
                    <mat-icon
                        *ngIf="menuMode == 'small'">
                        navigate_next
                    </mat-icon>
                    <mat-icon
                        *ngIf="menuMode == 'large'">
                        navigate_before
                    </mat-icon>
                </button>                
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div
            class="rb-vsection">
            <rb-breadcrumb
                *ngIf="viewTargetStack.length > 1"
                [targetStack]="viewTargetStack"
                (backTo)="backTo($event)">
            </rb-breadcrumb>
            <rb-view-loader 
                [target]="viewTarget"
                (navigate)="navigateTo($event)"
                (titlechange)="setTitle($event)">
            </rb-view-loader>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<div
    class="rb-footer">
</div>
