:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    max-height: 100%;
}

.rb-pagetitle {
    font-size: smaller;
    color: #eeeeee;
}

.rb-toolbar-spacer {
    flex-grow: 1;
}


.rb-drag-box {
    display: block;
    position: absolute;
    background: rgb(232, 235, 240);
    z-index: 1000;
    border: solid 1px rgb(67, 86, 110);
    border-radius: 3px;
    pointer-events: none;
}

mat-toolbar {
    min-height:40px
}

mat-toolbar-row {
    height: 40px;
}

mat-sidenav-container {
    display: flex;
    flex: 1 1 auto;
}

mat-sidenav {
    display: flex;
    border-right: Solid 1px gray;
}

mat-sidenav-content {
    display: flex;
    flex: 1 1 auto;
}

