<mat-toolbar
    color="primary">
    <mat-toolbar-row>
        <div>
            <img [src]="logoUrl" height="25" style="vertical-align: middle;"/>
        </div>
        &nbsp;&nbsp;
        <span>{{title}}</span>
        <span
            class="rb-pagetitle">
            &nbsp;&nbsp;|&nbsp;&nbsp;{{viewTitle}}
        </span>
        <div
            class="rb-toolbar-spacer">
        </div>
        <mat-icon>search</mat-icon>
        <input
            class="rb-toolbar-search">
        <button
            mat-button
            [matMenuTriggerFor]="usermenu">
            {{userdisplay}}
        </button>
        <mat-menu
            #usermenu="matMenu">
            <button
                mat-menu-item
                (click)="logout()">
                Logout
            </button>
        </mat-menu>        
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav 
        mode="side" 
        opened>
        <rb-view-loader 
            [src]="menuUrl"
            (navigate)="navigateTo($event)">
        </rb-view-loader>    
    </mat-sidenav>
    <mat-sidenav-content>
        <rb-view-loader 
            [src]="viewUrl"
            (navigate)="navigateTo($event)"
            (titlechange)="setTitle($event)">
        </rb-view-loader>
    </mat-sidenav-content>
</mat-sidenav-container>
<div
    class="rb-footer">
</div>
