<mat-toolbar
    color="primary">
    <mat-toolbar-row>
        <span>{{title}}</span>
        <span
            class="rb-pagetitle">
            &nbsp;&nbsp;|&nbsp;&nbsp;{{viewTitle}}
            </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav 
        mode="side" 
        opened>
        <rb-view-loader 
            [src]="menuUrl"
            (navigate)="navigateTo($event)">
        </rb-view-loader>    
    </mat-sidenav>
    <mat-sidenav-content>
        <rb-view-loader 
            [src]="viewUrl"
            (navigate)="navigateTo($event)">
        </rb-view-loader>
    </mat-sidenav-content>
</mat-sidenav-container>
<div
    class="rb-footer">
</div>
