:host {
    display:flex;
    flex-direction: column;
}

.rb-tabsection-tabheaders {
    display:flex;
	flex-direction: row;
	flex: 0 0 auto;
	padding: var(--v5px) var(--v5px) 0px var(--v5px);
	overflow: hidden;
}
.rb-tabsection-tabheaderscroll {
    display:flex;
	flex: 1 1 auto;
	overflow: hidden;
}

.rb-tabsection-tabheader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
    border-radius: var(--v5px) var(--v5px) 0px 0px;
	overflow: hidden;
}

.rb-tabsection-tabheader-label-primary {
	padding: var(--v8px) var(--v12px);
    color: var(--primary-dark-color);
}

.rb-tabsection-tabheader-label-secondary {
	padding: var(--v8px) var(--v12px);
    color: var(--primary-dark2-color);
}

.rb-tabsection-divider {
    display:flex;
    border-top: 1px solid #cccccc;
}


.rb-tabsection-popup-back {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.rb-tabsection-popup-container {
	position: fixed;
	z-index: 2;
	background-color: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
    display: flex;	
}