:host {
    display:flex;
    flex-direction: column;
}

.rb-tabsection-tabheaders {
    display:flex;
	flex-direction: row;
	flex: 0 0 auto;
	padding: var(--v5px) var(--v5px) 0px var(--v5px);
	overflow: hidden;
}
.rb-tabsection-tabheaderscroll {
    display:flex;
	flex: 1 1 auto;
	overflow: hidden;
}

.rb-tabsection-tabheader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 0;
	flex-shrink: 0;
	border: 0px Solid;
	cursor: pointer;
	padding: 0px;
    color: darkblue;
    border-radius: var(--v5px) var(--v5px) 0px 0px;
}

.rb-tabsection-tabheader-button {
	font-weight: initial;
	font-size: 1.0rem;
	line-height: var(--v36px) !important;
	margin: 0px var(--v5px) 0px var(--v5px) !important;
}

.rb-tabsection-tabheader-active {
  border-bottom: 2px Solid red;
}

.rb-tabsection-tabheader-button-active {

}

.rb-tabsection-tabheader-active-alt1 {
    background-color: #5262bc;
    color: white;
}

.rb-tabsection-tabheader-button-active-alt1 {
}

.rb-tabsection-divider {
    display:flex;
    border-top: 1px solid #cccccc;
}


.rb-tabsection-popup-back {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
}

.rb-tabsection-popup-container {
	position: fixed;
	z-index: 1001;
	background-color: white;
    border-radius: 4px;
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
        0 13px 19px 2px rgba(0, 0, 0, 0.14),
        0 5px 24px 4px rgba(0, 0, 0, 0.12);
    display: flex;	
}