<div
    class="rb-tabsection-tabheaders">
    <button
        mat-icon-button
        *ngIf="overflows(tabheaderscroll)"
        (click)="scrollLeft(tabheaderscroll)">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <div
        #tabheaderscroll
        class="rb-tabsection-tabheaderscroll">
        <div
            [ngClass]="'rb-tabsection-tabheader' + (isTabActive(tab) ? userpref.getAtlClassFor(' rb-tabsection-tabheader-active') : '')"
            *ngFor="let tab of tabs">
            <button
                mat-button
                *ngIf="tab.showResult == true"
                [ngClass]="'rb-tabsection-tabheader-button' + (isTabActive(tab) ? userpref.getAtlClassFor(' rb-tabsection-tabheader-button-active') : '')"
                (click)="selectTab(tab)"
                (contextmenu)="openPopup($event, tab)">
                {{tab.label}}
            </button>
        </div>
    </div>
    <button
        mat-icon-button
        *ngIf="overflows(tabheaderscroll)"
        (click)="scrollRight(tabheaderscroll)">
        <mat-icon>navigate_next</mat-icon>
    </button>
</div>
<div
    class="rb-tabsection-divider">
</div>
<div
    class="rb-tabsection-popup-back"
    [style.visibility]="cmShow ? 'visible' : 'hidden'"
    (click)="closePopup()">
    <div
        class="rb-tabsection-popup-container"
        [style.top.px]="cmTop"
        [style.left.px]="cmLeft">
        <mat-action-list>
            <button
                mat-list-item
                (click)="hideTabDomain()">
                Hide Tab for Domain
            </button>                      
        </mat-action-list>
    </div>
</div>
<ng-content></ng-content>
<div #container></div>

