<div
    [class]="'rb-menu-container' + (mode == 'large' ? ' hscroll' : ' hscroll-nobar') + ' rb-menu-container-' + look">
    <mat-action-list>
        <div
            class="rb-menu-item"
            *ngFor="let item of content">
            <rb-menu-group
                *ngIf="item.type == 'menugroup'"
                [config]="item"
                [mode]="mode"
                [look]="look"
                (navigate)="navigateTo($event)">
            </rb-menu-group>
            <rb-menu-link
                *ngIf="item.type == 'menulink'"
                [config]="item"
                [mode]="mode"
                [look]="look"
                (navigate)="navigateTo($event)">
            </rb-menu-link>
        </div>    
    </mat-action-list>    
</div>
<div
    [class]="'rb-menu-control rb-menu-control-' + look">
    <button
        mat-icon-button
        (click)="toggleMenuMode()">
        <mat-icon
            *ngIf="mode == 'small'">
            navigate_next
        </mat-icon>
        <mat-icon
            *ngIf="mode == 'large'">
            navigate_before
        </mat-icon>
    </button>
    <button
        mat-icon-button
        *ngIf="mode == 'large'"
        [class]="'rb-menu-grew-button rb-menu-grew-button-' + look"
        (click)="setMenu('full')">
        <mat-icon>
            subject
        </mat-icon>
    </button>  
    <button
        mat-icon-button
        *ngIf="mode == 'large'"
        [class]="'rb-menu-grew-button rb-menu-grew-button-' + look"
        (click)="setMenu('group')">
        <mat-icon>
            group
        </mat-icon>
    </button>       
    <button
        mat-icon-button
        *ngIf="mode == 'large'"
        [class]="'rb-menu-grew-button rb-menu-grew-button-' + look"
        (click)="setMenu('personal')">
        <mat-icon>
            person
        </mat-icon>
    </button>       
</div>