<div
    [class]="'rb-menu-container' + (mode == 'large' ? ' hscroll' : ' hscroll-nobar') + ' rb-menu-container-' + look"
    [style.width]="width">
    <mat-action-list>
        <div
            class="rb-menu-item"
            *ngFor="let item of content">
            <rb-menu-group
                *ngIf="item.type == 'menugroup'"
                [config]="item"
                [mode]="mode"
                [look]="look"
                (navigate)="navigateTo($event)">
            </rb-menu-group>
            <rb-menu-link
                *ngIf="item.type == 'menulink'"
                [config]="item"
                [mode]="mode"
                [look]="look"
                (navigate)="navigateTo($event)">
            </rb-menu-link>
        </div>    
    </mat-action-list>    
</div>
<div
    [class]="'rb-menu-control rb-menu-control-' + look"
    *ngIf="showcontrols">
    <rb-iconbutton
        *ngIf="mode == 'small'"
        [icon]="'navigate_next'"
        (click)="toggleMenuMode()">
    </rb-iconbutton>  
    <rb-iconbutton
        *ngIf="mode == 'large'"
        [icon]="'navigate_before'"
        (click)="toggleMenuMode()">
    </rb-iconbutton>  
    <rb-iconbutton
        *ngIf="mode == 'large'"
        [icon]="'subject'"
        (click)="setMenu('full')">
    </rb-iconbutton>  
    <rb-iconbutton
        *ngIf="mode == 'large'"
        [icon]="'group'"
        (click)="setMenu('group')">
    </rb-iconbutton>       
    <rb-iconbutton
        *ngIf="mode == 'large'"
        [icon]="'person'"
        (click)="setMenu('personal')">
    </rb-iconbutton>       
</div>