
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rb-menu {
    display: block;
    border-right: Solid 0px;
}

.rb-menu-alt1 {
    
}

.rb-menu-container {
    display: flex;
	flex-direction: column;
    flex: 1 1 auto;
    background: transparent;
    border-right: Solid 1px rgba(0,0,0,.12);
}

.rb-menu-container-primary {
    background: var(--primary-color);
    border-right: Solid 1px var(--primary-color);
}

.rb-menu-container-alt1 {

}


.rb-menu-control {
    display: flex;
    font-size: 1.5rem;
    padding-left: var(--v5px);
    background: var(--primary-color);
    border-right: Solid 1px var(--primary-color);
    color: var(--light-inverse-writing-color);
}

.rb-menu-control-alt1 {
    border-right: Solid 1px rgba(0,0,0,.12);
    color: var(--light-writing-color);
    background: transparent;
}

.rb-menu-control-primary mat-icon {
    font-size: 1.5rem;
    color: #dddddd;
}

.rb-menu-item {
    display: flex;
    flex-direction: row;
}
