
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rb-menu-container {
    display: flex;
	flex-direction: column;
    flex: 1 1 auto;
}

.rb-menu {
    display: block;
}

.rb-menu-control {
    display: flex;
}

.rb-menu-control mat-icon {
    font-size: 1.5rem;
    color: grey;
}

.rb-menu-item {
    display: flex;
    flex-direction: row;
}
