
.rb-checkbox-box {
    width: var(--v14px);
    height: var(--v14px);
    border: var(--v2px) solid #a0a0a0;
    border-radius: var(--v3px);
    stroke: white;
    stroke-width: var(--v3px);
    stroke-opacity: 0;
}

.rb-checkbox-enabled {
    cursor: pointer;
}

.rb-checkbox-checked{
    border: var(--v1px) solid #a0a0a0;
    stroke-opacity: 1;
    background-color: var(--primary-color);
}