<button
    mat-icon-button
    (click)="getList()"
    [matMenuTriggerFor]="assignmentlistmenu">
    <mat-icon>notifications</mat-icon>
</button>
<div
    *ngIf="count > 0"
    class="rb-notification-badge">
    <span>{{count}}</span>
</div>
<mat-menu
    #assignmentlistmenu="matMenu">
    <mat-action-list>
        <button 
            mat-menu-item
            style="height: auto"
            *ngFor="let notification of list"
            (click)="selectNotification(notification)">
            <div
                class="rb-notification-listcontainer">
                <div
                    class="rb-notification-listheader">
                    {{notification.label}}
                </div>
                <div
                    class="rb-notification-listsub">
                    {{notification.message}}
                </div>
            </div>        
        </button>
    </mat-action-list>          
    <div
        class="rb-spinner-container"
        *ngIf="loading">
        <mat-spinner
            diameter="20">
        </mat-spinner>
    </div>    
</mat-menu>