:host {
    padding-left: 3px;
    padding-right: 3px;
    position: relative;
}

:host button {
    font-size: 1.5rem!important;
}

.rb-notification-badge {
    position: absolute;
    top: 0px;
    right: 45%;
    height: 1.4vw;
    min-width: 1.1vw;
    border-radius: 0.7vw;
    background-color: red;
    font-size: 0.8rem;
    text-align: center;
    line-height: 200%;
    padding-left: 3px;
    padding-right: 3px;
    pointer-events: none;
}


:host > mat-action-list > button.mat-menu-item {
	height: auto!important;
    margin: 0px!important;
}

.rb-notification-listcontainer {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    min-height: 48px;
}

.rb-notification-listheader {
    /*margin: -10px 0px -10px 0px;*/
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-top: 6px;
}

.rb-notification-listsub {
    color: #aaaaaa;
    font-size: 0.8rem;
    /*margin: -20px 0px -10px 0px;*/
    max-width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 18px;
}

:host > .mat-menu-panel {
    max-width: 350px!important;
}