:host {
    padding-left: 1px;
    padding-right: 1px;
    position: relative;
}

.rb-notification-badge {
    position: absolute;
    top: 1px;
    left: 6px;
    height: 24px;
    min-width: 18px;
    border-radius: 12px;
    background-color: red;
    font-size: small;
    text-align: center;
    line-height: 200%;
    padding-left: 3px;
    padding-right: 3px;
    pointer-events: none;
}

button {
    margin: 0px!important;
}
